<link rel="import" href="/dist/polymer/polymer.html">
<link rel="import" href="/dist/paper-input/paper-input.html">
<link rel="import" href="/dist/paper-fab/paper-fab.html">
<link rel="import" href="/dist/paper-shadow/paper-shadow.html">

<polymer-element name="rf-login">
    <template>
        <style>
            .overlay {
                background: #eee;
            }
            .card {
                position: relative;
                background-color: white;
                padding: 20px 16px;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
            }
            .card:not([narrow]) {
                margin-top: 64px;
                max-width: 512px;
                max-height: 512px;
                border-radius: 2px;
            }
            #submit {
                background: #259b24;
            }
        </style>
        <div class="overlay" fit cross-fade></div>

        <div class="main" flex layout vertical center slide-up-offscreen>
            <div class="card" flex layout vertical>
                <div layout vertical>
                    <paper-input label="Login" id="login"></paper-input>
                    <paper-input label="Password" id="password" type="password"></paper-input>
                </div>
                <div horizontal center layout>
                    <div flex></div>
                    <paper-fab id="submit" icon="check" on-tap="{{handleLogin}}"></paper-fab>
                </div>
                <paper-shadow z="1"></paper-shadow>
            </div>
        </div>
    </template>
    <script>
(function() {
    Polymer('rf-login', {
        handleLogin: function() {
        }
    });
})();
    </script>
</polymer-element>
