<h5 class="title" i18n>Manage Filters</h5>
<p *ngIf="filters.length == 0" i18n>
    No filters have been defined
</p>
<div *ngFor="let filter of filters" class="filter">
    <div class="info">
        <span *ngIf="filter.urlTerm">
            <span *ngIf="!filter.inverseURL" i18n>Matches</span>
            <span *ngIf="filter.inverseURL" i18n>Does not match</span>
            <span class="term">{{ filter.urlTerm }}</span>
            <span class="match-url" i18n>by URL</span>
        </span>
        <span class="url-and-title" *ngIf="filter.urlTerm && filter.titleTerm">
            and
        </span>
        <span *ngIf="filter.titleTerm">
            <span *ngIf="!filter.inverseTitle" i18n>Matches</span>
            <span *ngIf="filter.inverseTitle" i18n>Does not match</span>
            <span class="term">{{ filter.titleTerm }}</span>
            <span class="match-title" i18n>by title</span>
        </span>
        <span class="match-tag" *ngIf="filter.inverseFeeds && filter.tagID" i18n>excluding tag:</span>
        <span class="match-feeds" *ngIf="filter.inverseFeeds && filter.feedIDs && !filter.tagID" i18n>excluding feeds:</span>
        <span class="match-tag" *ngIf="filter.tagID" i18n>on tag:</span>
        <span class="match-feeds" *ngIf="filter.feedIDs && !filter.tagID" i18n>on feeds:</span>
        <span class="tag" *ngIf="filter.tagID">{{ tagLabel(filter.tagID) }}</span>
        <span class="feeds" *ngIf="filter.feedIDs">{{ feedsLabel(filter.feedIDs) }}</span>
    </div>
    <button mat-icon-button (click)="deleteFilter($event, filter)" class="delete"> 
        <mat-icon>delete</mat-icon>
    </button>
</div>
<div class="footer">
    <button mat-raised-button (click)="addFilter()" i18n>Add filter</button>
</div>