<h5 class="title" i18n>Discover/import feeds</h5>
<div *ngIf="phase == 'query'">
    <p i18n>
        You can enter the url of a feed directly, as well as a url of a site that may contain one or more feeds, or a search query.
    </p>
    <mat-input-container>
        <input matInput [(ngModel)]="query" i18n-placeholder placeholder="URL/query" (keydown.Enter)="search()">
        <mat-error *ngIf="queryFormControl.hasError('empty')" i18n>
            No query or opml file specified
        </mat-error>
        <mat-error *ngIf="queryFormControl.hasError('search')" i18n>
            Error during search
        </mat-error>
    </mat-input-container>
    <br>
    <p i18n>
        Alternatively, upload an OPML file.
    </p>
    <input type="file" i18n-placeholder placeholder="OPML import" (keydown.Enter)="search()" accept=".opml" #opmlInput>
    <br>
    <button mat-raised-button (click)="search()" [disabled]="loading" i18n>Search</button>
    <br>
    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
</div>
<div *ngIf="phase == 'search-result'">
    <p *ngIf="feeds.length == 0" i18n>
        No new feeds found
    </p>
    <div *ngFor="let feed of feeds">
        <mat-checkbox>{{ feed.title }}</mat-checkbox>
        <br>
        <a href="{{ baseURL(feed.link) }}">{{ feed.description || feed.title }}</a>
        <br>
        <hr>
    </div>

    <p *ngIf="emptySelection">
        No feeds selected
    </p>

    <button mat-raised-button (click)="add()" [disabled]="loading" *ngIf="feeds.length > 0" i18n>Add</button>
</div>
<div *ngIf="phase == 'add-result'">
    <p *ngIf="!addFeedResult.success" i18n>
        No feeds added.
    </p>
    <p *ngIf="addFeedResult.success" i18n>
        Feeds were added successfully.
    </p>
    <div *ngFor="let error of addFeedResult.errors">
        <p i18n>
            Error adding feed {{ error.title }}: {{ error.error }}
        </p>
    </div>

    <button mat-raised-button (click)="phase = 'query'"i18n>Discover more feeds</button>
</div>