.drawer-title.bottom {
    padding: 20px 0 20px 41px;
    margin: 0;
    width: auto;
    font-weight: 400;
    font-size: 18px;
}
:not(.wide) .drawer-title.bottom {
    padding-top: 14px;
}

.wide .drawer-title.bottom {
    padding-top: 25px;
    font-size: 24px;
}

.drawer-content {
    padding-left: 30px;
}

.drawer-content.collapser {
    padding-left: 0;
}

paper-item.drawer-content::shadow #icon > div {
    background-repeat: no-repeat;
}

.drawer-content /deep/ #label {
    overflow: hidden;
    text-overflow: ellipsis;
}

loading-wave {
    margin: 20px;
}

.feed-title {
    padding-left: 24px;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 16px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.feed-item {
    height: 40px;
}
