.overlay {
    background: #eee;
    @apply(--layout-fit);
}
.main {
    @apply(--layout-fit);
    @apply(--layout-vertical);
    @apply(--layout-center);
}
.card-container {
    height: 100%;
    background: transparent;
    @apply(--layout-horizontal);
    @apply(--layout-center);
}

.card {
    @apply(--card-style);
    padding: 20px 16px;
    max-width: 512px;
    max-height: 512px;
    min-width: 288px;
}

#submit {
    background: #259b24;
}
