.overlay {
    background: #eee;
    @apply(--layout-fit);
}
.main {
    @apply(--layout-fit);
    @apply(--layout-vertical);
    @apply(--layout-center);
}
.card-container {
    height: 100%;
    background: transparent;
    @apply(--layout-horizontal);
    @apply(--layout-center);
}

.card {
    margin: 0 auto;
    position: relative;
    background-color: white;
    padding: 20px 16px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    max-width: 512px;
    max-height: 512px;
    min-width: 288px;
    border-radius: 2px;
}

#submit {
    background: #259b24;
}
