core-drawer-panel:not(.wide) core-toolbar {
    height: 48px;
    font-size: 1.2em;
}
core-drawer-panel:not(.wide) core-toolbar /deep/ .toolbar-tools {
    height: 48px;
}
core-drawer-panel:not(.wide) [main]::shadow #mainContainer {
    background-color: #f8f8f8;
}

#mainheader paper-icon-button {
    margin: 0;
}

core-drawer-panel.wide #mainheader #navicon,
core-drawer-panel.wide #mainheader #back-menu,
core-drawer-panel.wide #mainheader #refresh-menu {
  display: none;
}

.title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.refresh-button {
    position: absolute;
    bottom: -28px;
    right: 24px;
    z-index: 1;
    background-color: #fcfcfc;
    color: #666464;
}

.content {
    background-color: #f8f8f8;
    overflow: hidden;
}

[drawer] /deep/ #mainContainer {
    background-color: #fff;
}

.wide .content {
    margin: 10px 120px 60px 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border-radius: 2px;
}

.content-label {
    line-height: 60px;
    padding: 0 24px 12px;
    letter-spacing: 0.05em;
    margin: 0;
    font-size: 24px;
    font-weight: 400;
}

.content-label small {
    display: block;
    margin-top: -10px;
    line-height: 14px;
    font-size: 12px;
}

.content-label .title-icon {
    line-height: 24px;
    margin-top: 10px;
}

.search-container {
    height: 60px;
}

.search-decorator {
    line-height: 24px;
    font-size: 16px;
    margin-top: 10px;
    padding: 0;
}
