<h5 class="title" i18n>Manage Users</h5>
<p *ngIf="current" i18n>
    Current user: {{ current.login }}
</p>
<div *ngIf="users.length">
    <h6 i18n>List of users:</h6>
    <div *ngFor="let user of users" class="user">
        <mat-checkbox (change)="toggleActive(user.login, check.checked)" [(ngModel)]="user.active" #check>{{ user.login }}</mat-checkbox>
        <button mat-icon-button (click)="deleteUser($event, user.login)" class="delete"> 
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</div>
<div class="footer">
    <button mat-raised-button i18n (click)="newUser()">Add user</button>
</div>