<h6 class="title" i18n>Add a new user</h6>
<form [formGroup]="form" (ngSubmit)="save()" novalidate autocomplete="off">
    <mat-input-container>
        <input matInput i18n-placeholder placeholder="User name" formControlName="login" required>
        <mat-error *ngIf="form.hasError('required', ['login'])" i18n>
            Empty user name
        </mat-error>
    </mat-input-container>
    <br>
    <mat-input-container>
        <input matInput type="password" i18n-placeholder placeholder="Password" formControlName="password" required>
        <mat-error *ngIf="form.hasError('required', ['password'])" i18n>
            Empty password
        </mat-error>
    </mat-input-container>
    <br>
    <div class="footer">
        <button mat-raised-button type="submit" [disabled]="form.pristine" i18n>Save</button>
    </div>
</form>