<mat-toolbar color="primary" i18n>
    Feeds
</mat-toolbar>
<div class="content">
    <a mat-button routerLink="/feed/favorite" i18n>Favorite</a>
    <div class="group" *ngIf="popularity">
        <div class="category">
            <button mat-button class="expander" (click)="collapses['__popularity'] = !collapses['__popularity']">
                <mat-icon>{{ collapses['__popularity'] ? "expand_less" : "expand_more" }}</mat-icon>
            </button>
            <a mat-button routerLink="/feed/popular" i18n>Popular</a>
        </div>

        <div class="items" [ngbCollapse]="!collapses['__popularity']">
            <a mat-button *ngFor="let item of tags" [routerLink]="'/feed/popular/' + item.link">{{ item.title }}</a>
            <a mat-button *ngFor="let item of allItems" [routerLink]="'/feed/popular/' + item.link"><img src="{{ favicon(item.url) }}" class="favicon">{{ item.title }}</a>
        </div>
    </div>

    <hr>

    <div class="group">
        <div class="category">
            <button mat-button class="expander" (click)="collapses['__all'] = !collapses['__all']">
                <mat-icon>{{ collapses['__all'] ? "expand_less" : "expand_more" }}</mat-icon>
            </button>
            <a mat-button routerLink="/feed" i18n>All</a>
        </div>

        <div class="items" [ngbCollapse]="!collapses['__all']">
            <a mat-button *ngFor="let item of allItems" [routerLink]="'/' + item.link"><img src="{{ favicon(item.url) }}" class="favicon">{{ item.title }}</a>
        </div>
    </div>

    <div class="group" *ngFor="let tag of tags">
        <div class="category">
            <button mat-button class="expander" (click)="collapses[tag.id] = !collapses[tag.id]">
                <mat-icon>{{ collapses[tag.id] ? "expand_less" : "expand_more" }}</mat-icon>
            </button>
            <a mat-button [routerLink]="'/feed/' + tag.link">{{ tag.title }}</a>
        </div>

        <div class="items" [ngbCollapse]="!collapses[tag.id]">
            <a mat-button *ngFor="let item of tag.items" [routerLink]="'/feed/' + item.link"><img src="{{ favicon(item.url) }}" class="favicon">{{ item.title }}</a>
        </div>
    </div>

    <hr>

    <a mat-button routerLink="/settings" i18n>Settings</a>
    <a mat-button routerLink="/login" i18n>Logout</a>
</div>