<h6 class="title" i18n>Change your password</h6>
<md-input-container>
    <input mdInput [(ngModel)]="current" type="password"  placeholder="Current password" [formControl]="currentFormControl" required>
    <md-error *ngIf="currentFormControl.hasError('auth')" i18n>
        Invalid password
    </md-error>
</md-input-container>
<br>
<md-input-container>
    <input mdInput [(ngModel)]="password" type="password" i18n-placeholder placeholder="New password" [formControl]="passwordFormControl" required>
    <md-error *ngIf="passwordFormControl.hasError('mismatch')" i18n>
        Passwords do not match
    </md-error>
</md-input-container>
<br>
<md-input-container>
    <input mdInput [(ngModel)]="passwordConfirm" type="password" i18n-placeholder placeholder="Confirm new password" required>
</md-input-container>
<br>
<div class="footer">
    <button md-raised-button (click)="save()" i18n>Save</button>
</div>