<h6 class="title" i18n>Change your password</h6>
<mat-input-container>
    <input matInput [(ngModel)]="current" type="password"  placeholder="Current password" [formControl]="currentFormControl" required>
    <mat-error *ngIf="currentFormControl.hasError('auth')" i18n>
        Invalid password
    </mat-error>
</mat-input-container>
<br>
<mat-input-container>
    <input matInput [(ngModel)]="password" type="password" i18n-placeholder placeholder="New password" [formControl]="passwordFormControl" required>
    <mat-error *ngIf="passwordFormControl.hasError('mismatch')" i18n>
        Passwords do not match
    </mat-error>
</mat-input-container>
<br>
<mat-input-container>
    <input matInput [(ngModel)]="passwordConfirm" type="password" i18n-placeholder placeholder="Confirm new password" required>
</mat-input-container>
<br>
<div class="footer">
    <button mat-raised-button (click)="save()" i18n>Save</button>
</div>