<button md-icon-button (click)="up()" *ngIf="showsArticle || inSearch">
    <md-icon>keyboard_backspace</md-icon>
</button>
<span i18n *ngIf="!searchEntry">Articles</span>
<span class="spacer" *ngIf="!searchEntry"></span>

<div class="input-group" *ngIf="searchEntry">
    <button md-icon-button *ngIf="searchQuery" (click)="searchQuery = ''; search.focus()"> 
        <md-icon>clear</md-icon>
    </button>
    <input mdInput [(ngModel)]="searchQuery" focused class="spacer search mat-toolbar mat-primary form-control" #search>
    <button md-icon-button *ngIf="searchQuery" (click)="performSearch(searchQuery)"> 
        <md-icon>keyboard_return</md-icon>
    </button>
</div>

<button md-icon-button *ngIf="searchButton" (click)="searchEntry = !searchEntry">
    <md-icon>search</md-icon>
</button>

<button md-icon-button *ngIf="!showsArticle" (click)="refresh()">
    <md-icon>refresh</md-icon>
</button>

<md-checkbox [(ngModel)]="articleRead" *ngIf="showsArticle" (click)="toggleRead()" i18n>Read</md-checkbox>

<button md-icon-button [mdMenuTriggerFor]="menu" *ngIf="!showsArticle">
    <md-icon>more_vert</md-icon>
</button>
<md-menu #menu="mdMenu">
    <button md-menu-item *ngIf="!olderFirst" (click)="toggleOlderFirst()">
        <span>Older first</span>
    </button>
    <button md-menu-item *ngIf="olderFirst" (click)="toggleOlderFirst()">
        <span>Newer first</span>
    </button>
    <button md-menu-item (click)="toggleUnreadOnly()">
        <span>Unread only</span>
    </button>
    <button md-menu-item *ngIf="!inSearch">
        <span>Mark all as read</span>
    </button>
</md-menu>