<button mat-icon-button (click)="up()" *ngIf="showsArticle || inSearch">
    <mat-icon>keyboard_backspace</mat-icon>
</button>
<span i18n *ngIf="!searchEntry">Articles</span>
<span class="spacer" *ngIf="!searchEntry"></span>

<div class="input-group" *ngIf="searchEntry">
    <button mat-icon-button *ngIf="searchQuery" (click)="searchQuery = ''; search.focus()"> 
        <mat-icon>clear</mat-icon>
    </button>
    <input matInput [(ngModel)]="searchQuery" focused class="spacer search mat-toolbar mat-primary form-control" #search>
    <button mat-icon-button *ngIf="searchQuery" (click)="performSearch(searchQuery)"> 
        <mat-icon>keyboard_return</mat-icon>
    </button>
</div>

<button mat-icon-button *ngIf="searchButton" (click)="searchEntry = !searchEntry">
    <mat-icon>search</mat-icon>
</button>

<button mat-icon-button *ngIf="!showsArticle" (click)="refresh()">
    <mat-icon>refresh</mat-icon>
</button>

<mat-checkbox [(ngModel)]="articleRead" *ngIf="showsArticle" (click)="toggleRead()" i18n>Read</mat-checkbox>

<button mat-icon-button *ngIf="showsArticle && enabledShares" [matMenuTriggerFor]="shares">
    <mat-icon>share</mat-icon>
</button>
<mat-menu #shares="matMenu">
    <button mat-menu-item *ngFor="let share of shareServices" (click)="shareArticleTo(share)">
        {{ share.description }}
    </button>
</mat-menu>

<button mat-icon-button [matMenuTriggerFor]="other" *ngIf="!showsArticle">
    <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #other="matMenu">
    <button mat-menu-item *ngIf="!olderFirst" (click)="toggleOlderFirst()">
        <span>Older first</span>
    </button>
    <button mat-menu-item *ngIf="olderFirst" (click)="toggleOlderFirst()">
        <span>Newer first</span>
    </button>
    <button mat-menu-item (click)="toggleUnreadOnly()">
        <span>Unread only</span>
    </button>
    <button mat-menu-item (click)="markAsRead()" *ngIf="!inSearch && markAllRead">
        <span>Mark all as read</span>
    </button>
</mat-menu>