:host {
    flex-grow: 1;
    display: flex;
	height: calc(100% - 64px);
}

ngb-carousel {
    overflow-y: auto;
    flex-grow: 1;
}

::ng-deep span.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23999' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

::ng-deep span.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23999' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

::ng-deep .carousel-control-prev,
::ng-deep .carousel-control-next  {
    max-width: 100px;
}

::ng-deep .carousel-indicators {
    display: none;
}

a {
    color: black;
}

.title {
    margin-top: 1rem;
}

.info {
    padding-bottom: 8px;
}

.feed {
    font-weight: 200;
    font-size: 10px;
    text-align: start;
}

.index {
    font-size: 12px;
    text-align: end;
}

.time {
    font-size: 12px;
    text-align: end;
}

.description {
    width: 100%;
}

.description ::ng-deep img {
    max-width: 100%;
    height: auto;
}

.description ::ng-deep img.float {
    float: left;
    padding-right: 16px;
    padding-bottom: 16px;
}

.description ::ng-deep img.center {
    display: block;
    margin: 0 auto;
}
