:host {
    flex-grow: 1;
    display: flex;
}

ngb-carousel {
    overflow-y: auto;
    flex-grow: 1;
}

::ng-deep span.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23999' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

::ng-deep span.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23999' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

::ng-deep .carousel-control-prev,
::ng-deep .carousel-control-next  {
    max-width: 100px;
}

a {
    color: black;
}

a:hover, a:focus {
    outline: none;
    text-decoration: none;
}

.description ::ng-deep img {
    max-width: 100%;
}