{% define "title" %} {% __ "Readeef: Your feed reader" .base.lang %} {% end %}

{% define "meta" %}
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel="icon" sizes="48x48" href="/images/readeef-small.png">
    <link rel="icon" sizes="196x196" href="/images/readeef.png">

    <link rel="apple-touch-icon-precomposed" href="/images/readeef.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/readeef-72.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/readeef-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/readeef-144.png">
{% end %}

{% define "imports" %}
    <script src="/dist/webcomponentsjs/webcomponents-lite.min.js"></script>
    <script>
    window.Polymer = window.Polymer || {};
    // window.Polymer.dom = 'shadow';
    </script>
    <script src="/dist/cryptojs/rollups/md5.js"></script>
    <script src="/dist/cryptojs/rollups/hmac-sha256.js"></script>
    <script src="/dist/cryptojs/components/enc-base64-min.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,300italic,400italic,500,500italic,700,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,500,500italic,700,700italic">
    <link rel="import" href="/dist/polymer/polymer.html">
    <link rel="import" href="/dist/font-roboto/roboto.html">
    <link rel="import" href="/dist/paper-styles/color.html">
    <link rel="import" href="/dist/paper-styles/shadow.html">
    <link rel="import" href="{% url "/component/rf-router" .base.r %}">
{% end %}

{% define "styles" %}
<style is="custom-style">
body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

:root {
    --card-style: {
        position: relative;
        background-color: white;
        box-sizing: border-box;
        border-radius: 2px;

        @apply(--shadow-transition);
        @apply(--shadow-elevation-8dp);
    };

	--description-style: {
		font-family: "Roboto Slab", sans-serif;
	};

	--feed-origin-style: {
		font-family: "Roboto Condensed", serif;
		font-size: 11px;
		line-height: 24px;
		font-weight: 200;
		padding-right: 1em;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	};

	--publish-date-style: {
		font-family: "Roboto Condensed", sans-serif;
		font-size: 12px;
		font-style: italic;
		line-height: 14px;
	};

	--background-transition: background 0.30s ease-in, color 0.30s ease-in;
}

</style>
{% end %}
{% define "body-attrs" %} unresolved {% end %}

{% define "content" %}
    <rf-router data-language="{% .base.lang %}" data-uri-prefix="{% url "/" .base.r %}"></rf-router>
{% end %}

{% define "scripts" %}
    <script src="//www.google.com/jsapi"></script>
    <script> google.load("feeds", "1"); </script>
{% end %}
