<h5 class="title" i18n>Share Services</h5>
<div class="cards-container">
    <mat-card *ngFor="let group of services">
        <mat-card-header>
            <mat-card-title class="col title">
                <h6>
                 {{ group[0][0].category }}
                </h6>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div *ngFor="let service of group" class="service">
                <mat-slide-toggle [checked]="service[1]" (change)="toggleService(service[0].id, toggle.checked)" #toggle>{{ service[0].description }}</mat-slide-toggle>
            </div>
        </mat-card-content>
    </mat-card>
</div>