{% define "content" %}
<link rel="import" href="/dist/polymer/polymer.html">
<link rel="import" href="/dist/iron-ajax/iron-ajax.html">

<dom-module id="rf-api" hidden data-api-pattern="{% .apiPattern %}">
    <template>
        <content></content>
        <iron-ajax id="nonce" url="{% .apiPattern %}v{{version}}/nonce" handleAs="json"></iron-ajax>
    </template>
    <script src="/dist/cryptojs/rollups/md5.js"></script>
    <script src="/dist/cryptojs/rollups/hmac-sha256.js"></script>
    <script src="/dist/cryptojs/components/enc-base64-min.js"></script>
    <script src="/js/rf-api.js"></script>
</dom-module>
{% end %}
