{% define "content" %}
<link rel="import" href="/dist/polymer/polymer.html">

<link rel="import" href="/dist/paper-item/paper-item.html">

<link rel="import" href="/dist/core-localstorage/core-localstorage.html">
<link rel="import" href="/dist/core-overlay/core-overlay.html">
<link rel="import" href="/dist/core-animated-pages/core-animated-pages.html">
<link rel="import" href="/dist/core-animated-pages/transitions/slide-up.html">
<link rel="import" href="/dist/core-animated-pages/transitions/scale-up.html">
<link rel="import" href="/dist/core-animated-pages/transitions/tile-cascade.html">
<link rel="import" href="/dist/core-transition/core-transition-css.html">
<link rel="import" href="/dist/core-signals/core-signals.html">

<link rel="import" href="/dist/loading-wave/loading-wave.html">

<link rel="import" href="/component/rf-api">
<link rel="import" href="/component/rf-scaffolding">
<link rel="import" href="/component/rf-login">
<link rel="import" href="/component/rf-dialog-add-feed">
<link rel="import" href="/component/rf-content-list">

<polymer-element name="rf-app" vertical layout attributes="{{ user userTTL }}">
    <template>
        <style>
            .drawer-title.bottom {
                padding: 20px 0 20px 60px;
                margin: 0;
                width: auto;
                color: white;
                font-weight: 400;
                font-size: 18px;
            }
            :not(.wide) .drawer-title.bottom {
                padding-top: 14px;
            }

            .wide .drawer-title.bottom {
                padding-top: 25px;
                font-size: 24px;
            }

            .drawer-content {
                padding-left: 50px;
            }

            .drawer-content /deep/ #label {
                overflow: hidden;
                text-overflow: ellipsis;
            }

            loading-wave {
                margin: 20px;
            }

        </style>
        <core-animated-pages selected="{{ selected }}" transitions="cross-fade cross-fade-delayed scale-up slide-up slide-up-offscreen slide-down tile-cascade hero-transition" fit class="{{ {wide: wide} | tokenList }}">
            <core-overlay name="loading" opened?="{{ selected == 'loading' }}" style="background-color: #e2e2e2;" transition="core-transition-top">
            </core-overlay>

            <rf-scaffolding name="scaffolding" id="scaffolding" cross-fade wide="{{ wide }}" user="{{ user }}" on-rf-feed-refresh="{{ onFeedRefresh }}" feed="{{ currentFeed }}" article="{{ currentArticle }}">
                <div fit class="drawer-title bottom">Feeds</div>

                <paper-item label="Add feed" class="drawer-content" on-tap="{{ onAddFeed }}"></paper-item>
                <template if="{{ feeds.length > 0 }}">
                    <hr class="drawer-content">
                </template>
                <template if="{{ feeds.length > 1 }}">
                    <paper-item label="All" class="drawer-content" on-tap="{{ onFeedTap }}" name="__all__" selectable></paper-item>
                </template>
                <template repeat="{{ feed in feeds }}">
                    <paper-item label="{{ feed.Title }}" class="drawer-content" on-tap="{{ onFeedTap }}" title="{{ feed.Description }}" name="{{ feed.Id }}" selectable></paper-item>
                </template>
                <hr class="drawer-content">
                <paper-item label="Settings" class="drawer-content"></paper-item>
                <paper-item label="Sign Out" class="drawer-content" on-tap="{{ onSignOut }}"></paper-item>

                <div class="main-content">
                    <rf-content-list id="content-list" wide="{{ wide }}" user="{{ user }}" feed="{{ currentFeed }}" feeds="{{ feeds }}" article="{{ currentArticle }}" hidden?="{{ loadingArticles }}"></rf-content-list>
                    <template if="{{ loadingArticles || loadingMoreArticles }}">
                        <div layout vertical center>
                            <loading-wave background="#f8f8f8"></loading-wave>
                        </div>
                    </template>
                </div>
            </rf-scaffolding>

            <rf-login name="login" id="login" layout wide="{{ wide }}" user="{{ user }}"></rf-login>
        </core-animated-pages>

        <rf-api id="auth-check" pathAction="auth" on-rf-api-complete="{{ onAuthCheckComplete }}" user="{{ user }}"></rf-api>
        <rf-api id="all-feeds" pathAction="feed/all" on-rf-api-response="{{ onAllFeedsResponse }}" user="{{ user }}"></rf-api>
        <rf-api id="feed-articles" pathAction="feed/{{ currentFeedId }}/{{ limit }}/{{ offset }}" on-rf-api-response="{{ onFeedArticlesResponse }}" user="{{ user }}"></rf-api>

        <core-localstorage name="user" id="user-storage" value="{{user}}" on-core-localstorage-load="{{ onUserLoad }}"></core-localstorage>
        <core-localstorage name="{{ user.login }}-settings" id="user-settings-storage" value="{{userSettings}}" on-core-localstorage-load="{{ onUserSettingsLoad }}"></core-localstorage>

        <core-media-query query="min-width: {{responsiveWidth}}" queryMatches="{{wide}}"></core-media-query>

        <core-signals on-core-signal-rf-request-articles="{{ onRequestArticles }}"></core-signals>

        <rf-dialog-add-feed id="add-feed-dialog" wide="{{ wide }}" user="{{ user }}" on-feeds-added="{{ onFeedsAdded }}"></rf-dialog-add-feed>
    </template>
    <script>
(function() {
    "use strict";

    function createAllPseudoFeed() {
        // TODO: i18n
        return {
            Id: "__all__",
            Title: "All feed articles",
            Description: "",
            Articles: null,
            Image: {},
            Link: "",
        }
    }

    Polymer('rf-app', {
        selected: 'loading',
        responsiveWidth: '768px',
        userTTL: 1000 * 60 * 60 * 24 * 15,
        user: null,
        userSettings: {},
        currentFeedId: null,
        currentFeed: null,
        currentArticle: null,
        loadingArticles: false,
        loadingMoreArticles: false,
        feedIdMap: {},
        noMoreArticles: false,
        limit: 50,
        offset: 0,

        created: function() {
            this.feeds = [];
        },

        userChanged: function(oldValue, newValue) {
            this.async(function() {
                if (!newValue) {
                    this.selected = 'login';
                    this.feeds = [];
                } else {
                    if ((!oldValue && newValue) || (oldValue && !newValue)
                            || oldValue.login != newValue.login
                            || oldValue.md5api != newValue.md5api) {
                        this.$['auth-check'].go();
                    }
                }
            })
        },

        currentFeedIdChanged: function(oldValue, newValue) {
            if (this.feeds.length) {
                if (newValue == "__all__") {
                    this.currentFeed = createAllPseudoFeed();
                } else {
                    this.currentFeed = this.feedIdMap[newValue];
                }
            }
        },

        currentFeedChanged: function(oldValue, newValue) {
            if (newValue) {
                this.noMoreArticles = false;
                this.offset = 0;

                this.loadingArticles = true;
                this.$['feed-articles'].go();
            }
        },

        feedsChanged: function(oldValue, newValue) {
            var self = this;

            newValue.forEach(function(feed) {
                self.feedIdMap[feed.Id] = feed;
            });

            if (!this.currentFeed && this.currentFeedId) {
                this.currentFeedIdChanged(this.currentFeedId, this.currentFeedId);
            }
        },

        onAuthCheckComplete: function(event, response) {
            if (response.response == 403) {
                if (this.selected == 'login') {
                    this.$.login.invalid = true;
                }
                this.user = null;
            } else if (response.response == 200) {
                this.user.authTime = new Date().getTime();

                if (this.selected == 'login' || this.selected == 'loading') {
                    this.selected = 'scaffolding';
                }

                this.$['user-storage'].save();

                this.$['all-feeds'].go();
            }
        },

        onUserLoad: function(event, detail, sender) {
            if (sender.value) {
                if (!sender.value.authTime || new Date().getTime() - this.user.authTime > this.userTTL) {
                    sender.value = null;
                }
            }

            if (!sender.value) {
                this.selected = 'login';
            }
        },

        onUserSettingsLoad: function(event, detail, sender) {
            if (sender.value) {
                if (sender.value.currentFeedId) {
                    this.currentFeedId = sender.value.currentFeedId;
                }
            }
        },

        onSignOut: function() {
            this.user = null;
        },

        onAddFeed: function() {
            this.$['add-feed-dialog'].toggle();
        },

        onFeedsAdded: function() {
            this.$['all-feeds'].go();
        },

        onAllFeedsResponse: function(event, data) {
            if (data.response) {
                this.feeds = data.response.Feeds;
            }
        },

        onFeedTap: function(event) {
            this.currentFeedId = event.target.getAttribute('name');

            this.userSettings.currentFeedId = this.currentFeedId;
            
            this.async(function() {
                this.userSettings = Polymer.extend({}, this.userSettings);
            });
        },

        onFeedRefresh: function(event, detail, sender) {
            console.log(event, detail, sender);
        },

        onFeedArticlesResponse: function(event, data) {
            if (data.response) {
                if (data.response.Articles && data.response.Articles.length) {
                    var worker = new Worker('/js/append-articles-worker.js');

                    worker.addEventListener('message', function(event) {
                        this.currentFeed.Articles = event.data.articles;
                        this.loadingArticles = false;
                        this.loadingMoreArticles = false;
                    }.bind(this));

                    worker.postMessage({
                        current: this.currentFeed.Articles,
                        newArticles: data.response.Articles
                    });
                } else {
                    this.noMoreArticles = true;
                    this.loadingArticles = false;
                    this.loadingMoreArticles = false;
                }
            }
        },

        onRequestArticles: function(event) {
            if (this.loadingMoreArticles || this.noMoreArticles) {
                return;
            }

            this.loadingMoreArticles = true;
            this.offset += this.limit;
            this.$['feed-articles'].go();
        }
    });
})();
    </script>
</polymer-element>
{% end %}
