{% define "content" %}
<link rel="import" href="/dist/polymer/polymer.html">

<link rel="import" href="/dist/paper-item/paper-item.html">

<link rel="import" href="/dist/core-localstorage/core-localstorage.html">
<link rel="import" href="/dist/core-overlay/core-overlay.html">
<link rel="import" href="/dist/core-animated-pages/core-animated-pages.html">
<link rel="import" href="/dist/core-animated-pages/transitions/slide-up.html">
<link rel="import" href="/dist/core-animated-pages/transitions/scale-up.html">
<link rel="import" href="/dist/core-animated-pages/transitions/tile-cascade.html">
<link rel="import" href="/dist/core-transition/core-transition-css.html">
<link rel="import" href="/dist/core-signals/core-signals.html">

<link rel="import" href="/dist/loading-wave/loading-wave.html">

<link rel="import" href="/component/rf-api">
<link rel="import" href="/component/rf-scaffolding">
<link rel="import" href="/component/rf-login">
<link rel="import" href="/component/rf-content-list">
<link rel="import" href="/component/rf-settings">

<polymer-element name="rf-app" vertical layout attributes="{{ user userTTL }}">
    <template>
        <style>
            .drawer-title.bottom {
                padding: 20px 0 20px 41px;
                margin: 0;
                width: auto;
                font-weight: 400;
                font-size: 18px;
            }
            :not(.wide) .drawer-title.bottom {
                padding-top: 14px;
            }

            .wide .drawer-title.bottom {
                padding-top: 25px;
                font-size: 24px;
            }

            .drawer-content {
                padding-left: 30px;
            }

            paper-item.drawer-content::shadow #icon > div {
                background-repeat: no-repeat;
            }

            .drawer-content /deep/ #label {
                overflow: hidden;
                text-overflow: ellipsis;
            }

            loading-wave {
                margin: 20px;
            }

        </style>
        <core-animated-pages selected="{{ selected }}" transitions="cross-fade cross-fade-delayed scale-up slide-up slide-up-offscreen slide-down tile-cascade hero-transition" fit class="{{ {wide: wide} | tokenList }}">
            <core-overlay name="loading" opened?="{{ selected == 'loading' }}" style="background-color: #e2e2e2;" transition="core-transition-top">
            </core-overlay>

            <rf-scaffolding name="scaffolding" id="scaffolding" cross-fade wide="{{ wide }}" user="{{ user }}" settings="{{ userSettings }}" feed="{{ currentFeed }}" article="{{ currentArticle }}" display="{{ display }}">
                <div fit class="drawer-title bottom">Feeds</div>

                <template if="{{ feeds.length > 0 }}">
                    <paper-item label="Favorite" class="drawer-content" on-tap="{{ onFeedTap }}" name="__favorite__" selectable></paper-item>
                    <hr class="drawer-content">
                </template>
                <template if="{{ feeds.length > 1 }}">
                    <paper-item label="All" class="drawer-content" on-tap="{{ onFeedTap }}" name="__all__" selectable></paper-item>
                </template>
                <template repeat="{{ feed in feeds }}">
                    <paper-item label="{{ feed.Title }}" iconSrc="http://www.google.com/s2/favicons?domain={{ feed.Link | domain }}" class="drawer-content" on-tap="{{ onFeedTap }}" title="{{ feed.Description }}" name="{{ feed.Id }}" selectable></paper-item>
                </template>
                <hr class="drawer-content">
                <paper-item label="Settings" class="drawer-content" on-tap="{{ onDisplaySettings }}"></paper-item>
                <paper-item label="Sign Out" class="drawer-content" on-tap="{{ onSignOut }}"></paper-item>

                <div class="main-content">
                    <rf-content-list id="content-list" wide="{{ wide }}" user="{{ user }}" feed="{{ currentFeed }}" feeds="{{ feeds }}" article="{{ currentArticle }}" hidden?="{{ display != 'feed' || loadingArticles }}"></rf-content-list>
                    <rf-settings id="settings" wide="{{ wide }}" user="{{ user }}" settings="{{ userSettings }}" feeds="{{ feeds }}" hidden?="{{ display == 'feed' }}" display="{{ display }}"></rf-settings>
                    <template if="{{ loadingArticles || loadingMoreArticles }}">
                        <div layout vertical center>
                            <loading-wave background="#f8f8f8"></loading-wave>
                        </div>
                    </template>
                </div>
            </rf-scaffolding>

            <rf-login name="login" id="login" layout wide="{{ wide }}" user="{{ user }}"></rf-login>
        </core-animated-pages>

        <rf-api id="auth-check" pathAction="auth" on-rf-api-response="{{ onAuthCheckResponse }}" on-rf-api-complete="{{ onAuthCheckComplete }}" user="{{ user }}"></rf-api>
        <rf-api id="list-feeds" pathAction="feed/list" on-rf-api-response="{{ onAllFeedsResponse }}" user="{{ user }}"></rf-api>
        <rf-api id="feed-articles" pathAction="feed/{{ currentFeedId }}/{{ limit }}/{{ offset }}/{{ userSettings.newerFirst || false }}/{{ userSettings.unreadOnly || false }}" on-rf-api-response="{{ onFeedArticlesResponse }}" user="{{ user }}"></rf-api>
        <rf-api id="feed-read-all" pathAction="feed/read/{{ currentFeedId }}/{{ readUntilMilliSec }}" on-rf-api-response="{{ onFeedReadAllResponse }}" user="{{ user }}"></rf-api>
        <rf-api id="user-settings" on-rf-api-response="{{ onUserSettingsResponse }}" user="{{ user }}" method="post"></rf-api>

        <core-localstorage name="user" id="user-storage" value="{{user}}" on-core-localstorage-load="{{ onUserLoad }}"></core-localstorage>

        <core-media-query query="min-width: {{responsiveWidth}}" queryMatches="{{wide}}"></core-media-query>

        <core-signals on-core-signal-rf-request-articles="{{ onRequestArticles }}"></core-signals>
        <core-signals on-core-signal-rf-feed-refresh="{{ onFeedRefresh }}"></core-signals>
        <core-signals on-core-signal-rf-feeds-added="{{ onFeedsChanged }}"></core-signals>
        <core-signals on-core-signal-rf-feeds-removed="{{ onFeedsChanged }}"></core-signals>
        <core-signals on-core-signal-rf-mark-all-as-read="{{ onMarkAllAsRead }}"></core-signals>

    </template>
    <script>
(function() {
    "use strict";

    var urlParser = document.createElement('a');

    function createAllPseudoFeed() {
        // TODO: i18n
        return {
            Id: "__all__",
            Title: "All feed articles",
            Description: "",
            Articles: null,
            Image: {},
            Link: "",
        }
    }

    function createFavoritePseudoFeed() {
        // TODO: i18n
        return {
            Id: "__favorite__",
            Title: "Favorite feed articles",
            Description: "",
            Articles: null,
            Image: {},
            Link: "",
        }
    }

    Polymer('rf-app', {
        selected: 'loading',
        responsiveWidth: '768px',
        userTTL: 1000 * 60 * 60 * 24 * 15,
        user: null,
        userSettings: null,
        currentFeedId: null,
        currentFeed: null,
        currentArticle: null,
        loadingArticles: false,
        loadingMoreArticles: false,
        feedIdMap: {},
        noMoreArticles: false,
        display: 'feed',
        limit: 50,
        offset: 0,
        readUntilMilliSec: 0,
        userObserver: null,
        userSettingsObserver: null,

        created: function() {
            this.feeds = [];
        },

        userChanged: function(oldValue, newValue) {
            this.async(function() {
                if (this.userSettingsObserver) {
                    this.userSettingsObserver.close();
                }

                if (!newValue) {
                    this.selected = 'login';
                    this.feeds = [];
                    this.userSettings = null;
                } else {
                    if (!oldValue
                        || oldValue.login != newValue.login
                        || oldValue.md5api != newValue.md5api) {
                        this.$['auth-check'].go();
                    }

                    this.userObserver = new ObjectObserver(this.user);
                    this.userObserver.open(function (added, removed, changed, getOldValueFn) {
                        var ajax = this.$['user-settings'];
                        Object.keys(changed).forEach(function(attribute) {
                            switch (attribute) {
                            case "firstName":
                            case "lastName":
                            case "email":
                            case "password":
                                ajax.body = changed[attribute];
                                ajax.pathAction = "user/" + attribute;
                                ajax.go();
                                break;
                            }
                        });
                    }.bind(this));
                }

            })
        },

        userSettingsChanged: function(oldValue, newValue) {
            if (this.userSettingsObserver) {
                this.userSettingsObserver.close();
            }

            if (newValue) {
                this.currentFeedId = newValue.currentFeedId;
                this.display = newValue.display || 'feed';
                CoreStyle.g.theme = newValue.theme || 'blue';

                this.userSettingsObserver = new ObjectObserver(this.userSettings);
                this.userSettingsObserver.open(function (added, removed, changed, getOldValueFn) {
                    var amalgamation = Polymer.extend(Polymer.extend(Polymer.extend({}, added), removed), changed);
                    if ('newerFirst' in amalgamation || 'unreadOnly' in amalgamation) {
                        this.updateFeedArticles();
                    }

                    if ('theme' in amalgamation) {
                        CoreStyle.g.theme = amalgamation.theme;
                    }

                    this.$['user-settings'].body = JSON.stringify(this.userSettings);
                    this.$['user-settings'].pathAction = "user/profileData";
                    this.$['user-settings'].go();
                }.bind(this));
            }
        },

        displayChanged: function(oldValue, newValue) {
            this.userSettings.display = newValue;
        },

        currentFeedIdChanged: function(oldValue, newValue) {
            if (this.feeds && this.feeds.length) {
                if (newValue == "__all__") {
                    this.currentFeed = createAllPseudoFeed();
                } else if (newValue == "__favorite__") {
                    this.currentFeed = createFavoritePseudoFeed();
                } else {
                    this.currentFeed = this.feedIdMap[newValue];
                }

                this.userSettings.currentFeedId = newValue;
            }
        },

        currentFeedChanged: function(oldValue, newValue) {
            this.updateFeedArticles();
        },

        feedsChanged: function(oldValue, newValue) {
            var self = this;

            if (newValue) {
                newValue.forEach(function(feed) {
                    self.feedIdMap[feed.Id] = feed;
                });
            }

            if (!this.currentFeed && this.currentFeedId) {
                this.currentFeedIdChanged(this.currentFeedId, this.currentFeedId);
            }
        },

        domain: function(value) {
            urlParser.href = value;

            return urlParser.host;
        },

        onAuthCheckComplete: function(event, response) {
            if (response.response == 403) {
                if (this.selected == 'login') {
                    this.$.login.invalid = true;
                }
                this.user = null;
            }
        },

        onAuthCheckResponse: function(event, data) {
            this.user.authTime = new Date().getTime();
            this.user.admin = data.response.User.Admin;
            this.user.email = data.response.User.Email;
            this.user.firstName = data.response.User.FirstName;
            this.user.lastName = data.response.User.LastName;
            this.userSettings = data.response.ProfileData;

            if (this.selected == 'login' || this.selected == 'loading') {
                this.selected = 'scaffolding';
            }

            this.$['user-storage'].save();

            this.$['list-feeds'].go();
        },

        onUserLoad: function(event, detail, sender) {
            if (sender.value) {
                if (!sender.value.authTime || new Date().getTime() - this.user.authTime > this.userTTL) {
                    sender.value = null;
                }
            }

            if (!sender.value) {
                this.selected = 'login';
            }
        },

        onDisplaySettings: function() {
            this.display = 'settings';
        },

        onSignOut: function() {
            this.user = null;
        },

        onAddFeed: function() {
            this.$['add-feed-dialog'].toggle();
        },

        onFeedsChanged: function() {
            this.$['list-feeds'].go();
        },

        onAllFeedsResponse: function(event, data) {
            if (data.response) {
                this.feeds = data.response.Feeds;
            }
        },

        onFeedTap: function(event) {
            if (this.display != 'feed') {
                this.display = 'feed';
            }

            this.currentFeedId = event.target.getAttribute('name');
        },

        onFeedRefresh: function(event, detail, sender) {
            this.updateFeedArticles();
        },

        onFeedArticlesResponse: function(event, data) {
            if (data.response) {
                if (data.response.Articles && data.response.Articles.length) {
                    var worker = new Worker('/js/append-articles-worker.js');

                    worker.addEventListener('message', function(event) {
                        this.currentFeed.Articles = event.data.articles;
                        this.loadingArticles = false;
                        this.loadingMoreArticles = false;
                    }.bind(this));

                    worker.postMessage({
                        current: this.currentFeed.Articles,
                        newArticles: data.response.Articles
                    });
                } else {
                    this.noMoreArticles = true;
                    this.loadingArticles = false;
                    this.loadingMoreArticles = false;

                    if (!this.offset) {
                        this.currentFeed.Articles = null;
                    }
                }
            }
        },

        onRequestArticles: function(event) {
            if (this.loadingMoreArticles || this.noMoreArticles || this.display != 'feed') {
                return;
            }

            this.loadingMoreArticles = true;
            this.offset += this.limit;
            this.$['feed-articles'].go();
        },

        updateFeedArticles: function() {
            if (!this.currentFeed) {
                return;
            }

            this.currentArticle = null;
            this.currentFeed.Articles = null;

            this.noMoreArticles = false;
            this.offset = 0;

            this.loadingArticles = true;
            this.$['feed-articles'].go();
        },

        onMarkAllAsRead: function() {
            this.readUntilMilliSec = new Date().getTime();
            this.$['feed-read-all'].go();
        },

        onFeedReadAllResponse: function(event, data) {
            if (data.response && data.response.Success) {
                this.updateFeedArticles();
            }
        }
    });
})();
    </script>
</polymer-element>
{% end %}
