{% define "content" %}
<link rel="import" href="/dist/polymer/polymer.html">
<link rel="import" href="/dist/core-item/core-item.html">
<link rel="import" href="/dist/core-animated-pages/core-animated-pages.html">
<link rel="import" href="/dist/core-animated-pages/transitions/slide-up.html">
<link rel="import" href="/dist/core-animated-pages/transitions/scale-up.html">
<link rel="import" href="/dist/core-animated-pages/transitions/tile-cascade.html">

<link rel="import" href="/component/rf-api">
<link rel="import" href="/component/rf-scaffolding">
<link rel="import" href="/component/rf-login">

<polymer-element name="rf-app" vertical layout attributes="{{ user }}">
    <template>
        <core-animated-pages selected="{{ selected }}" transitions="cross-fade cross-fade-delayed scale-up slide-up slide-up-offscreen slide-down tile-cascade hero-transition" fit>
            <rf-scaffolding name="scaffolding" menutitle="Menu" maintitle="Content title" cross-fade wide="{{ wide }}">
                <div class="menu-content">
                    <core-item label="One"></core-item>
                    <core-item label="Two"></core-item>
                </div>
                <div class="main-content">
                    <h1>Content be here!</h1>
                </div>
            </rf-scaffolding>

            <rf-login name="login" layout wide="{{ wide }}"></rf-login>
        </core-animated-pages>
        <core-media-query query="min-width: {{responsiveWidth}}" queryMatches="{{wide}}"></core-media-query>
    </template>
    <script>
(function() {
    Polymer('rf-app', {
        selected: 'login',
        responsiveWidth: '768px',

        observe: {
            user: 'onUserChange'
        },

        onUserChange: function() {
            console.log(this.user);
        }
    });
})();
    </script>
</polymer-element>
{% end %}
