{% define "content" %}
<link rel="import" href="/dist/polymer/polymer.html">
<link rel="import" href="/dist/core-signals/core-signals.html">

<link rel="import" href="/component/rf-api">

<polymer-element name="rf-article-display" attributes="articles article wide user">
    <template>
        <link rel="stylesheet" href="/css/rf-article-display.css" shim-shadowdom>
        <link rel="stylesheet" href="/css/rf-content-list.css" shim-shadowdom>
        <div id="viewport" class="article-display-viewport {{ {wide: wide} | tokenList }}" touch-action="pan-y"></div>

        <content></content>

        <rf-api id="article-format" method="get" pathAction="article/{{ article.Id }}/formatter" on-rf-api-response="{{ onArticleFormatResponse }}" user="{{ user }}"></rf-api>
        <rf-api id="article-favorite" method="post" pathAction="article/{{ article.Id }}/favorite/{{ article.Favorite }}" on-rf-api-response="{{ onArticleFavoriteResponse }}" user="{{ user }}"></rf-api>

        <core-signals on-core-signal-rf-article-format="{{ onArticleFormat }}"></core-signals>
        <core-signals on-core-signal-rf-article-summarize="{{ onArticleSummarize }}"></core-signals>
        <core-signals on-core-signal-rf-article-favorite="{{ onArticleFavorite }}"></core-signals>
    </template>
    <script src="/js/rf-article-display.js"></script>
</polymer-element>
{% end %}
