{% define "content" %}
<link rel="import" href="/dist/polymer/polymer.html">
<link rel="import" href="/dist/core-ajax/core-ajax.html">

<polymer-element name="rf-api" attributes="user pathAction version url params method body contentType" constructor="RfAPI" hidden>
    <template>
        <content></content>
        <core-ajax id="request" url="{% .apiPattern %}v{{version}}/{{pathAction}}" handleAs="json" params="{{params}}" method="{{ method }}" body="{{ body }}" contentType="{{ contentType }}" on-core-response="{{ onRequestResponse }}" on-core-complete="{{ onRequestComplete }}" on-core-error="{{ onRequestError }}"></core-ajax>
        <core-ajax id="nonce" url="{% .apiPattern %}v{{version}}/nonce" handleAs="json"></core-ajax>
    </template>
    <script src="/dist/cryptojs/rollups/md5.js"></script>
    <script src="/dist/cryptojs/rollups/hmac-sha256.js"></script>
    <script src="/dist/cryptojs/components/enc-base64-min.js"></script>
    <script src="/js/rf-api.js"></script>
</polymer-element>
{% end %}
