{% define "content" %}
<link rel="import" href="/dist/polymer/polymer.html">

<script>
(function(root) {
	var themeClasses = [
		'blue', 'indigo', 'cyan', 'teal', 'green',
		'light-green', 'lime', 'red', 'pink', 'purple',
		'deep-purple', 'yellow', 'amber', 'deep-orange',
		'grep',
	], styleProperties = [
		'--text-primary-color', '--text-primary-color-inverse',
		'--paper-toolbar-background', '--paper-toolbar-color',
		'--paper-fab-notify-background', '--paper-fab-keyboard-focus-background',
	], general = [
		'#0a0a0a', '#ffffff',
		'var(--paper-#{THEME}-500)', 'var(--text-primary-color-inverse)',
		'var(--paper-#{THEME}-800)', 'var(--paper-#{THEME}-100)',
	];

	function applyThemeFor(element, theme, updateStyles) {
		if (theme == '__random__') {
            var index = Math.floor(Math.random() * themeClasses.length - 1);
			theme = themeClasses[index];
		}

		for (var i = 0, sp; sp = styleProperties[i]; i++) {
			element.customStyle[sp] = general[i].replace(/#{THEME}/, theme);
		}

		if (updateStyles) {
			element.updateStyles();
		}
	};

	var ThemeBehaviorBase = {
		currentTheme: function() {
			var router = Polymer.dom(document).querySelector('rf-router');

			if (router && router.user && router.user.ProfileData) {
				return router.user.ProfileData.theme;
			}

			return themeClasses[0];
		},
	};

    root.UserBehavior = {
        validateUser: function(user) {
            Polymer.dom(document).querySelector('rf-router').validateUser(user);
        },
    };

	root.ThemeBehavior = [ThemeBehaviorBase, {
		attached: function() {
			var themables = document.createElement('iron-meta').byKey('themable-elements');

			if (!themables) {
				themables = [];
				var meta = document.createElement('iron-meta');
				meta.key = 'themable-elements';
				meta.value = themables;
			}

			themables.push(this);
			applyThemeFor(this, this.currentTheme(), true);
		},

		detached: function() {
			var themables = document.createElement('iron-meta').byKey('themable-elements');

			themables.splice(themables.indexOf(this), 1);
		},
	}];

	root.ThemeManagerBehavior = [ThemeBehaviorBase, {
		applyTheme: function() {
			var themables = document.createElement('iron-meta').byKey('themable-elements');

			if (themables) {
				clearInterval(this.__randomThemeInterval);
				var theme = this.currentTheme();

				themables.forEach(function(element) {
					applyThemeFor(element, theme);
				});

				if (theme == '__random__') {
					this.__randomThemeInterval = setInterval(this.applyTheme.bind(this), 1800000);
				}

				Polymer.updateStyles();
			}
		},
	}];

	root.ConnectionManagerBehavior = {
		ready: function() {
			var meta = document.createElement('iron-meta');
			meta.key = 'connection-manager';
			meta.value = this;
		},
	};

	root.ConnectionUserBehavior = {
		properties: {
			connection: Object,
		},

		ready: function() {
			this.connection = this.getConnection();
			if (!this.connection) {
				throw new Error("No connection available");
			}
		},

		getConnection: function() {
			return document.createElement('iron-meta').byKey('connection-manager');
		},
	};

	root.ConnectionAPIBehavior = [root.ConnectionUserBehavior, {
		ready: function() {
			this.connection.registerAPI(this);
		},
		close: function() {
			this.connection.close();
		},
	}];

    root.RouteBehavior = {
		attached: function() {
			Polymer.dom(this.root).querySelectorAll('excess-route').forEach(function(route) {
				if (route.routeAlias) {
					var meta = document.createElement('iron-meta');
					meta.key = route.routeAlias;
					meta.value = route;
				}
			});
		},

		urlFor: function(spec, params) {
			var paramObj = params;

			if (typeof params === "string") {
				paramObj = {};
				for (var i = 1; i < arguments.length; i+=2) {
					var value = arguments[i+1];
					if (value.indexOf('/') != -1) {
						value = value.split('/');
					}

					paramObj[arguments[i]] = value;
				}
			}

			return Excess.RouteManager.getRoutePath(spec, paramObj);
		},

		namedRoute: function(name) {
			return document.createElement('iron-meta').byKey(name);
		},

		isRouteActive: function(name) {
			var r = this.namedRoute(name);
			return r && r.active;
		},

    };
})(window);
</script>
{% end %}
