{% define "content" %}
<link rel="import" href="/dist/polymer/polymer.html">
<link rel="import" href="/dist/paper-button/paper-button.html">

<polymer-element name="rf-button-link" extends="paper-button" attributes="href target" role="link">
    <template>
        <a href="{{ href }}" target="{{ target }}" id="link"><shadow></shadow></a>
    </template>
    <script src="/js/rf-button-link.js"></script>
</polymer-element>
{% end %}
