{% define "content" %}
<link rel="import" href="/dist/polymer/polymer.html">

<script>
(function(root) {
    root.UserBehavior = {
        validateUser: function(user) {
            Polymer.dom(document).querySelector('rf-router').validateUser(user);
        },
    };

    root.RouteBehavior = {
		attached: function() {
			Polymer.dom(this.root).querySelectorAll('excess-route').forEach(function(route) {
				if (route.routeAlias) {
					var meta = document.createElement('iron-meta');
					meta.key = route.routeAlias;
					meta.value = route;
				}
			});
		},

		urlFor: function(spec, params) {
			var paramObj = params;

			if (typeof params === "string") {
				paramObj = {};
				for (var i = 1; i < arguments.length; i+=2) {
					var value = arguments[i+1];
					if (value.indexOf('/') != -1) {
						value = value.split('/');
					}

					paramObj[arguments[i]] = value;
				}
			}

			return Excess.RouteManager.getRoutePath(spec, paramObj);
		},

		namedRoute: function(name) {
			return document.createElement('iron-meta').byKey(name);
		},

		isRouteActive: function(name) {
			var r = this.namedRoute(name);
			return r && r.active;
		},

    };
})(window);
</script>
{% end %}
