{% define "content" %}
<link rel="import" href="/dist/polymer/polymer.html">
<link rel="import" href="/dist/iron-ajax/iron-ajax.html">

<link rel="import" href="{% url "/component/rf-behaviors" %}">

<dom-module id="rf-connection">
    <template>
        <iron-ajax id="nonce" handleAs="json" url="[[ nonce-url ]]"></iron-ajax>
    </template>
    <script src="/js/rf-connection.js"></script>
</dom-module>
{% end %}
