{% define "content" %}
<link rel="import" href="/dist/polymer/polymer.html">
<link rel="import" href="/dist/core-list/core-list.html">

<polymer-element name="rf-content-list" attributes="wide user feed feeds">
    <template bind="{{ wide as wide }}">
        <style>
            core-list {
                padding-top: 8px;
                overflow: hidden;
            }

            .card {
                background-color: #fff;
                box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
                border-radius: 3px;
                margin: 0 8px 8px;
                padding: 8px;
            }
            .article {
                height: 44px;
            }

            .article.selected {
                height: auto;
            }

            .title-wrapper {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            .title {
                font-size: 14px;
                line-height: 20px;
            }

            .article.selected .title {
                font-size: 16px;
                font-weight: bold;
            }

            .short-description {
                font-size: 10px;
                line-height: 20px;
                padding-left: 1em;
                font-weight: 200;
            }

            .feed-origin {
                font-size: 8px;
                line-height: 20px;
                font-weight: 200;
                padding-right: 1em;
                width: 80px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .article-content {
                padding: 16px 94px;
            }
            core-list:not(.wide) .article-content {
                padding: 8px;
            }
            .article-link {
                padding-top: 16px;
            }

            .article-description img, 
            .article-description object, 
            .article-description iframe {
                max-width: 100%;
            }

        </style>
        <core-list class="{{ {wide: wide} | tokenList }}" data="{{ articles }}" height="{{ itemHeight }}" id="articles-list" on-core-activate="{{ onArticleActivate }}">
            <template>
                <div class="article {{ {selected: selected, read: Read, favorite: Favorite} | tokenList }}" id="{{ Id }}">
                    <div class="card" layout vertical>
                        <div layout horizontal>
                            <div class="feed-origin" title="{{ FeedOrigin }}" hidden?="{{ !FeedOrigin }}">{{ FeedOrigin }}</div>
                            <span flex class="title-wrapper">
                                <span class="title" title="{{ Title }}">{{ Title }}</span>
                                <span flex class="short-description" hidden?="{{ selected }}">{{ ShortDescription }}</span>
                            </span>
                        </div>
                        <div hidden class="article-content">
                            <div class="article-description">
                            </div>
                            <a href="{{ Link }}" target="_blank" class="article-link">View the article</a>
                        </div>
                    </div>
                </div>
            </template>
        </core-list>
    </template>
    <script>
(function() {
    "use strict";

    Polymer('rf-content-list', {
        itemHeight: 44,
        listHeight: 0,
        pathObserver: null,

        created: function() {
            this.articles = [];
        },

        domReady: function() {
            /* TODO: enable again once feasible
            this.$['articles-list'].scrollTarget = document.querySelector('rf-app').$.scaffolding.$['content-panel'];
            */

           var self = this;

           document.querySelector('rf-app').$.scaffolding.$['content-panel']
               .addEventListener('scroll', function(event) {

               if (!self.articles.length) {
                   return;
               }

               if (this.scroller.offsetHeight + this.scroller.scrollTop + 50 > this.scroller.scrollHeight) {
                   var previous = self.$['articles-list'].querySelector(
                       '.article-content:not([hidden])'
                   );

                   if (previous) {
                       previous.hidden;
                   }

                   self.asyncFire('rf-request-articles');
               }
           });
        },

        feedChanged: function(oldValue, newValue) {
            this.listHeight = 0;

            var processArticles = (function processArticles() {
                if (this.feed.Articles && this.feed.Articles.length) {
                    var worker = new Worker('/js/content-articles-worker.js'),
                        data = {current: this.feed};

                    worker.addEventListener('message', function(event) {
                        this.articles = event.data.articles;
                    }.bind(this));
                    if (this.feed.Id == "__all__") {
                        data.feeds = this.feeds;
                    }
                    worker.postMessage(data);
                } else if (this.articles.length) {
                    this.articles = [];
                }
            }).bind(this);

            if (newValue) {
                processArticles();

                if (this.pathObserver) {
                    this.pathObserver.close();
                }

                this.pathObserver = new PathObserver(newValue, 'Articles');
                this.pathObserver.open(function(newValue) {
                    if (newValue.length == this.pathObserver._articleLength) {
                        return;
                    }

                    this.pathObserver._articleLength = newValue.length;
                    processArticles();
                }.bind(this));
            }
        },

        onArticleActivate: function(event, detail) {
            var content = detail.item.querySelector('.article-content'),
                list = this.$['articles-list'],
                forward = false,
                previous = this.$['articles-list'].querySelector(
                    '.article-content:not([hidden])'
                ), style, height, delta, resizeFunc;

            if (previous) {
                var article = previous.closest('.article'),
                    articles = previous.closest('core-list').querySelectorAll('.article').array();

                if (articles.indexOf(article) < articles.indexOf(detail.item)) {
                    forward = true;
                }

                previous.hidden = true;
            }

            if (!this.listHeight) {
                this.listHeight = list.offsetHeight;
            }

            content.querySelector('.article-description').innerHTML = detail.data.Description;
            content.hidden = false;

            resizeFunc = function() {
                style = getComputedStyle(detail.item);
                height = parseInt(style.getPropertyValue('height'))

                delta = height - this.itemHeight;

                list.style.height = this.listHeight + delta + "px";

                var images = content.querySelectorAll('img')
                    .array().filter(function(img) { return !img.complete; });

                if (images.length) {
                    images[0].addEventListener('load', resizeFunc.bind(this));
                }
            };

            this.async(resizeFunc);

            if (forward) {
                detail.item.offsetParent.scrollTop = detail.item.offsetTop;
            }
        }
    });
})();
    </script>
</polymer-element>
{% end %}
