{% define "content" %}
<link rel="import" href="/dist/polymer/polymer.html">
<link rel="import" href="/dist/core-list/core-list.html">
<link rel="import" href="/dist/core-animated-pages/core-animated-pages.html">
<link rel="import" href="/dist/core-animated-pages/transitions/slide-down.html">
<link rel="import" href="/dist/core-signals/core-signals.html">

<link rel="import" href="/dist/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/dist/paper-button/paper-button.html">

<link rel="import" href="/dist/loading-wave/loading-wave.html">

<link rel="import" href="/component/rf-api">
<link rel="import" href="/component/rf-button-link">
<link rel="import" href="/component/rf-article-display">

<polymer-element name="rf-content-list" attributes="wide user feed feeds article">
    <template bind="{{ wide as wide }}">
        <link href="/css/rf-content-list.css" rel="stylesheet">

        <core-animated-pages id="pages" class="{{ {wide: wide} | tokenList }}" selected="list" transitions="{{ wide ? 'slide-down' : ''}}" on-keypress="{{ onContentKeypress }}">

            <section name="list">
                <core-list data="{{ articles }}" height="{{ itemHeight }}" id="articles-list" on-core-activate="{{ onArticleActivate }}">
                    <template>
                        <div class="article {{ {selected: selected, read: model.Read, favorite: model.Favorite} | tokenList }}" id="{{ model.Id }}">
                            <div class="card" layout vertical slide-down?="{{ selected }}">
                                <div class="list-wrapper" layout horizontal>
                                    <paper-icon-button class="favorite-button" icon="{{ {'bookmark-outline': !model.Favorite, bookmark: model.Favorite} | tokenList }}" on-tap="{{ onFavoriteToggle }}" data-article-id="{{ model.Id }}" data-feed-id="{{ model.FeedId }}"></paper-icon-button>
                                    <span class="feed-origin" title="{{ model.FeedOrigin }}" hidden?="{{ !model.FeedOrigin }}">{{ model.FeedOrigin }}</span>
                                    <span flex class="title-wrapper">
                                        <span class="title" title="{{ model.Title }}">{{ model.Hit && model.Hit.fragments.Title ? model.Hit.fragments.Title : model.Title }}</span>
                                        <span class="short-description">{{ model.Hit && model.Hit.fragments.Description ? model.Hit.fragments.Description : model.ShortDescription }}</span>
                                    </span>
                                    <span class="publish-date">{{ model.RelativeDate }}</span>
                                </div>
                            </div>
                        </div>
                    </template>
                </core-list>
            </section>

            <section name="detail" hidden?="{{ !article }}">
                <rf-article-display id="article-display" articles="{{ articles }}" article="{{ article }}" wide="{{ wide }}" user="{{ user }}">
                    <template>
                        <div class="article-detail">
                            <div class="card" layout vertical  slide-down?="{{ selected }}">
                                <div layout horizontal class="article-header">
                                    <paper-icon-button class="favorite-button" icon="{{ {'bookmark-outline': !model.Favorite, bookmark: model.Favorite} | tokenList }}" on-tap="{{ onArticleFavorite }}" data-article-id="{{ model.Id }}"></paper-icon-button>
                                    <span class="feed-origin" title="{{ model.FeedOrigin }}" hidden?="{{ !model.FeedOrigin }}" style="float: left">{{ model.FeedOrigin }}</span>
                                    <span flex class="title-wrapper" layout vertical>
                                        <a href="{{ model.Link }}" target="feed-article-{{ model.Id }}">
                                            <span class="title" title="{{ model.Title }}">{{ model.Title }}</span>
                                        </a>
                                        <span layout horizontal class="article-narrow-header-details">
                                            <span class="feed-origin" title="{{ model.FeedOrigin }}" hidden?="{{ !model.FeedOrigin }}" style="float: left">{{ model.FeedOrigin }}</span>
                                            <span class="publish-date">{{ model.RelativeDate }}</span>
                                        </span>
                                    </span>
                                    <span class="publish-date">{{model.RelativeDate}}</span>
                                </div>
                                <div class="article-content">
                                    <div class="article-description"></div>

                                    <div layout horizontal class="article-buttons">
                                        <rf-button-link href="{{ model.Link }}" target="feed-article-{{ model.Id }}" flex class="article-link">View the article</rf-button-link>
                                        <paper-button flex?="{{ wide }}" on-tap="{{ onArticleFormat }}" hidden?="{{ formatting || formatted }}">Format</paper-button>
                                        <template if="{{ formatting }}">
                                            <div layout vertical center flex?="{{ wide }}">
                                                <loading-wave background="transparent"></loading-wave>
                                            </div>
                                        </template>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </template>
                </rf-article-display>
            </section>

        </core-animated-pages>

        <rf-api id="article-read" method="post" pathAction="article/read/{{ article.Id }}/{{ articleRead }}" on-rf-api-response="{{ onArticleReadResponse }}" user="{{ user }}"></rf-api>

        <core-signals on-core-signal-rf-read-article-toggle="{{ onReadArticleToggle }}"></core-signals>
        <core-signals on-core-signal-rf-next-article="{{ nextArticle }}"></core-signals>
        <core-signals on-core-signal-rf-previous-article="{{ previousArticle }}"></core-signals>
    </template>

    <script src="/js/rf-content-list.js"></script>
</polymer-element>
{% end %}
