{% define "content" %}
<link rel="import" href="/dist/paper-button/paper-button.html">
<link rel="import" href="/dist/paper-dialog/paper-dialog-transition.html">
<link rel="import" href="/dist/paper-dialog/paper-dialog.html">
<link rel="import" href="/dist/paper-input/paper-input.html">

<link rel="import" href="/component/rf-api">

<polymer-element name="rf-dialog-add-feed" attributes="wide user">
    <template>
        <paper-dialog id="add-feed-dialog" heading="Add feed" transition="paper-dialog-transition-center" backdrop on-core-overlay-open="{{ onOpen }}" closeSelector="[dismissive],[affirmative]:not([transient])">
            <template if="{{ !feeds }}">
                <p>Enter the address of a feed, or a website that might contain one or more feeds.</p>

                <paper-input label="URL" id="feed-url" value="{{ url }}"></paper-input>
            </template>
            <template if="{{ feeds && !feeds.length }}">
                <p>No feeds found for '{{url}}'</p>
            </template>
            <template if="{{ feeds && feeds.length }}">
                <p>Found the following feeds for '{{url}}':</p>
                <ul>
                <template repeat="{{feed in feeds}}">
                    <li><a href="{{ feed.Link }}">{{ feed.Title }}: {{ feed.Description}}</a></li>
                </template>
                </ul>
            </template>

            <paper-button label="Cancel" affirmative></paper-button>
            <paper-button label="Find" on-tap="{{ onFind }}" id="find-feeds" affirmative transient autofocus hidden?="{{ !url || feeds }}"></paper-button>
            <paper-button label="Add" on-tap="{{ onAdd }}" id="add-feeds" affirmative autofocus hidden?="{{ !feeds || !feeds.length }}"></paper-button>
        </paper-dialog>

        <rf-api user="{{ user }}" id="discover" pathAction="feed/discover" params="{&quot;url&quot;: &quot;{{ url }}&quot;}" on-core-response="{{ onDiscoverResponse }}"></rf-api>
    </template>
    <script>
(function() {
    "use strict";

    Polymer('rf-dialog-add-feed', {
        created: function() {
            this.feeds = null;
        },

        toggle: function() {
            this.$['add-feed-dialog'].toggle();
        },

        onOpen: function() {
            this.url = "";
            this.feeds = null;
        },

        onFind: function() {
            this.$.discover.go();
        },

        onDiscoverResponse: function(event, data) {
            this.feeds = data.response.Feeds;
        }
    });
})();
    </script>
</polymer-element>
{% end %}
