{% define "content" %}
<link rel="import" href="/dist/polymer/polymer.html">

<dom-module id="rf-feed-base">
    <template>
        <paper-drawer-panel id="drawer">
            <paper-header-panel drawer>
                <paper-toolbar>
                  <div>Feeds</div>
                </paper-toolbar>
            </paper-header-panel>
            <paper-header-panel main>
                <paper-toolbar>
                    <paper-icon-button icon="menu" paper-drawer-toggle></paper-icon-button>
                    <div>Title</div>
                </paper-toolbar>
            <paper-header-panel>
        </paper-drawer-panel>
    </template>
    <script>
        "use strict";
        Polymer({
            is: "rf-feed-base"
        })
    </script>
</dom-module>
{% end %}
