{% define "content" %}
<link rel="import" href="/dist/iron-collapse/iron-collapse.html">
<link rel="import" href="/dist/iron-icon/iron-icon.html">
<link rel="import" href="/dist/iron-icons/iron-icons.html">
<link rel="import" href="/dist/paper-fab/paper-fab.html">
<link rel="import" href="/dist/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/dist/paper-ripple/paper-ripple.html">
<link rel="import" href="/dist/polymer/polymer.html">
<link rel="import" href="/dist/pushstate-anchor/pushstate-anchor.html">

<link rel="import" href="/component/rf-api">
<link rel="import" href="/component/rf-app-scaffold">

<dom-module id="rf-feed-base">
    <style>
.drawer-menu a {
    display: block;
    color: var(--text-primary-color);
    text-decoration: none;
    min-height: 20px;
    font-size: 16px;

    @apply(--layout-horizontal);
    @apply(--layout-center);
}

.drawer-menu .submenu {
    margin-left: 44px;
}

.drawer-menu .submenu a {
    font-size: 14px;
}

.drawer-menu paper-icon-button.item {
    padding: 8px;
    margin-left: 4px;
}

.main-title paper-fab {
    position: absolute;
    right: -80px;
    top: 24px;
    z-index: 1;
    background: white;
}
.main-title paper-fab.notify {
    background: var(--paper-fab-notify-background);
    color: var(--text-primary-color-inverse);
}
    </style>
    <template>
        <rf-app-scaffold narrow="{{ narrow }}">
            <div class="drawer-title">Feeds</div>
            <div class="drawer-menu">
                <a is="pushstate-anchor" href="/web/feed/favorite" class="item">
                    <span>Favorite</span>
                    <paper-ripple></paper-ripple>
                </a>
                <a is="pushstate-anchor" href="/web/feed/popular:all" class="layout horizontal">
                    <paper-icon-button icon="expand-more" expands="popular-feeds" class="item"></paper-icon-button>
                    <div style="position: relative" class="flex item">
                        Popular
                        <paper-ripple></paper-ripple>
                    </div>
                </a>
                <iron-collapse id="popular-feeds">
                    <div class="menu submenu">
                        <a is="pushstate-anchor" href="/web/feed/popular:tag:android" class="item">
                            <span>android</span>
                            <paper-ripple></paper-ripple>
                        </a>
                    </div>
                </iron-collapse>
                <hr>
                <a is="pushstate-anchor" href="/web/settings/general" class="item">
                    <span>Settings</span>
                    <paper-ripple></paper-ripple>
                </a>
                <a href="#" class="item" on-click="logout">
                    <span>Logout</span>
                    <paper-ripple></paper-ripple>
                </a>
            </div>
            <div class="main-narrow-title">
                Title
            </div>
            <div class="main-title">
                Title
                <paper-fab icon="refresh"></paper-fab>
            </div>
            <div class="main-content">
                <h1>Test</h1>
            </div>
        </rf-app-scaffold>

        <rf-api id="list-feeds" method="list-feeds" on-rf-api-message="onAllFeedsMessage" user="{{ user }}"></rf-api>
    </template>

    <script>
        "use strict";
        Polymer({
            is: "rf-feed-base",
            behaviors: [
                UserBehavior
            ],
            properties: {
                user: Object
            },

            attached: function() {
                Polymer.dom(this.root).querySelectorAll('[expands]').forEach(function(e) {
                    var collapser = Polymer.dom(this.root).querySelector('#' + e.getAttribute('expands'));
                    e.addEventListener('click', function(event) {
                        event.preventDefault();
                        event.stopPropagation();

                        if ('icon' in e) {
                            e.icon = collapser.opened ? 'expand-more' : 'expand-less';
                        }
                        collapser.toggle();
                    });
                }.bind(this));

                this.$['list-feeds'].send();
            },
            
            onAllFeedsMessage: function(event, detail) {
                console.log(event, detail);
            }

        })
    </script>
</dom-module>
{% end %}
