{% define "content" %}
<link rel="import" href="/dist/polymer/polymer.html">
<link rel="import" href="/dist/paper-input/paper-input.html">
<link rel="import" href="/dist/paper-fab/paper-fab.html">
<link rel="import" href="/dist/paper-shadow/paper-shadow.html">

<polymer-element name="rf-login" attributes="wide user invalid">
    <template bind="{{ wide as wide }}">
        <link href="/css/rf-login.css" rel="stylesheet">

        <div class="overlay" fit cross-fade></div>

        <div class="main" fit layout vertical center slide-up-offscreen>
            <div class="card-container {{ {wide: wide} | tokenList }}" layout horizontal center fit?="{{ !wide }}" on-keypress="{{ onKeypress }}">
                <div class="card" layout vertical>
                    <div layout vertical>
                    <paper-input label="Login" id="login" invalid="{{ invalid }}" error="The login credentials are incorrect" tabindex="1" floatingLabel></paper-input>
                        <paper-input label="Password" id="password" type="password" tabindex="2" floatingLabel></paper-input>
                    </div>
                    <div horizontal center layout>
                        <div flex></div>
                        <paper-fab id="submit" icon="arrow-forward" on-tap="{{onLogin}}"></paper-fab>
                    </div>
                    <template if="{{ wide }}">
                        <paper-shadow z="1"></paper-shadow>
                    </template>
                </div>
            </div>
        </div>
    </template>

    <script src="/js/rf-login.js"></script>
</polymer-element>
{% end %}
