{% define "content" %}
<link rel="import" href="/dist/iron-icons/iron-icons.html">
<link rel="import" href="/dist/iron-localstorage/iron-localstorage.html">
<link rel="import" href="/dist/iron-pages/iron-pages.html">
<link rel="import" href="/dist/more-routing/more-routing.html">
<link rel="import" href="/dist/neon-animation/neon-animated-pages.html">
<link rel="import" href="/dist/neon-animation/neon-animatable.html">
<link rel="import" href="/dist/neon-animation/animations/fade-in-animation.html">
<link rel="import" href="/dist/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="/dist/paper-toast/paper-toast.html">
<link rel="import" href="/dist/polymer/polymer.html">

<link rel="import" href="/component/rf-lazy-loader">
<link rel="import" href="/component/rf-splash">
<link rel="import" href="/component/rf-api">

<dom-module id="rf-router">
    <style>
neon-animated-pages {
    position: static;
}
    </style>

    <template>
        <more-routing-config driver="path"></more-routing-config>
        <more-route name="splash" path="/">
            <more-route path="/web">
                <more-route name="login" path="/login">
                    <more-route name="login-from" path="/from/:url"></more-route>
                </more-route>
                <more-route name="feed-base" path="/feed">
                    <more-route name="feed" path="/:tagOrId">
                        <more-route name="article" path="/article/:id"></more-route>
                    </more-route>
                </more-route>
                <more-route name="settings-base" path="/settings">
                    <more-route name="settings-general" path="/general"></more-route>
                    <more-route name="settings-feeds" path="/feeds"></more-route>
                    <more-route name="settings-share-services" path="/share-services"></more-route>
                    <more-route name="settings-admin" path="/admin"></more-route>
                </more-route>
            </more-route>
        </more-route>

        <iron-localstorage name="user" value="[[ user ]]" on-iron-localstorage-load="onUserLoad"></iron-localstorage>

        <neon-animated-pages id="splash" selected="1" entry-animation="fade-in-animation" exit-animation="fade-out-animation">
            <neon-animatable>
                <more-route-selector on-more-route-change="onRouteChange">
                    <iron-pages>
                        <rf-splash route="splash"></rf-splash>
                        <rf-lazy-loader route="login" import="/component/rf-login"></rf-lazy-loader>
                        <rf-lazy-loader route="login-from" import="/component/rf-login"></rf-lazy-loader>
                        <rf-lazy-loader route="feed-base" import="/component/rf-feed-base"></rf-lazy-loader>
                        <rf-lazy-loader route="settings-base" import="/component/rf-settings-base" params="{{ { user: user } }}"></rf-lazy-loader>
                    </iron-pages>
                </more-route-selector>
            </neon-animatable>

            <neon-animatable>
                <rf-splash></rf-splash>
            </neon-animatable>

        </neon-animated-pages>

        <paper-toast id="api-error"></paper-toast>
            
        <rf-api id="auth-check" method="get-auth-data"></rf-api>
    </template>
    <script src="/js/rf-router.js"></script>
</dom-module>
{% end %}
