{% define "content" %}
<link rel="import" href="/dist/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="/dist/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="/dist/polymer/polymer.html">

<link rel="import" href="{% url "/component/rf-api" .base.r %}">

<dom-module id="rf-settings-share-services">
    <template>
		<style>
a {
	color: inherit;
}
.card {
    @apply(--card-style);
    @apply(--shadow-elevation-4dp);
    padding: 16px;
    margin: 16px 0 8px;
    max-width: 50em;
}
.layout.horizontal.wrap .card {
    margin-left: 8px;
    margin-right: 8px;
}
ul {
    padding: 0;
}
.card ul li {
    padding: 8px;
    line-height: 24px;
}
.card paper-toggle-button {
    margin-left: 0.67em;
    padding: 8px;

    --paper-toggle-button-checked-bar-color: var(--paper-toolbar-background);
    --paper-toggle-button-checked-button-color: var(--paper-toolbar-background);
    --paper-toggle-button-checked-ink-color: var(--paper-toolbar-background);
}
		</style>
		<style include="iron-flex"></style>
		<style include="iron-flex-alignment"></style>
        <div class="layout horizontal wrap">
            <template is="dom-repeat" items="[[ shareServiceCategories ]]">
                <div class="card">
                    <h4>[[ item.name ]]</h4>
                    <ul>
                        <template is="dom-repeat" items="[[ item.services ]]" as="service">
                            <li title$="[[ service.title ]]" class="layout horizontal center" data-service-name$="[[ service.name ]]">
                                <div class="share-service-title flex">
                                    <template is="dom-if" if="[[ service.link ]]">
                                        <a href$="[[ service.link ]]">[[ service.description ]]</a>
                                    </template>
                                    <template is="dom-if" if="[[ !service.link ]]">
                                        <span>[[ service.description ]]</span>
                                    </template>
                                </div>
                                <paper-toggle-button checked="[[ service.active ]]" on-change="onShareServiceCheckChange"></paper-toggle-button>
                            </li>
                        </template>
                    </ul>
                </div>
            </template>
        </div>

        <rf-api id="user-settings" method="set-user-attribute" tag="share-services"></rf-api>
    </template>

    <script>
        "use strict";
        Polymer({
            is: "rf-settings-share-services",
            properties: {
                user: Object,
                shareServiceCategories: Array,
            },

            attached: function() {
                var categories = [];
                RfShareServices.getCategories().forEach(function(category) {
                    var item = {name: category, services: []};
                    categories.push(item);
                    RfShareServices.getAllByCategory(category).forEach(function(service) {
                        item.services.push(service);
                    });
                });

                this.shareServiceCategories = categories;
            },

            onShareServiceCheckChange: function(event) {
                var element = Polymer.dom(event).localTarget,
                    checked = element.checked, service;

                while (element && element.matches && !element.matches('[data-service-name]')) {
                    element = element.parentNode;
                }

                if (!element || !element.dataset) {
                    return;
                }

                service = RfShareServices.get(element.dataset.serviceName);
                service.active = checked;

                this.user.ProfileData.shareServices =
                    RfShareServices.getActive().map(function(s) { return s.name });

                this.$['user-settings'].send({
                    attribute: "ProfileData",
                    value: this.user.ProfileData,
                });
            },

        })
    </script>
</dom-module>
{% end %}
