{% define "content" %}
<link rel="import" href="/dist/polymer/polymer.html">

<dom-module id="rf-settings-feeds">
    <template>
        <h1> FEEDS </h1>
    </template>
    <script>
        Polymer({
            is: "rf-settings-feeds"
        })
    </script>
</dom-module>
{% end %}
