{% define "content" %}
<link rel="import" href="/dist/polymer/polymer.html">

<polymer-element name="rf-share-service" attributes="article url id title" constructor="RfSocialService" hidden>
    <script src="/js/rf-share-service.js"></script>
</polymer-element>
{% end %}
