{% define "content" %}
<link rel="import" href="/dist/polymer/polymer.html">
<link rel="import" href="/dist/core-toolbar/core-toolbar.html">
<link rel="import" href="/dist/core-menu/core-menu.html">
<link rel="import" href="/dist/core-header-panel/core-header-panel.html">
<link rel="import" href="/dist/core-drawer-panel/core-drawer-panel.html">
<link rel="import" href="/dist/core-icons/core-icons.html">
<link rel="import" href="/dist/core-icons/hardware-icons.html">
<link rel="import" href="/dist/core-style/core-style.html">

<link rel="import" href="/dist/paper-fab/paper-fab.html">
<link rel="import" href="/dist/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/dist/paper-menu-button/paper-menu-button.html">
<link rel="import" href="/dist/paper-input/paper-input.html">

<polymer-element name="rf-scaffolding" attributes="wide user settings feed article display updateAvailable">
    <template>
        <link href="/css/rf-scaffolding.css" rel="stylesheet">

        <core-style ref="rf-theme"></core-style>

        <template id="article-list-menu-items">
            <paper-item label="Older first" hidden?="{{ !settings.newerFirst }}" on-tap="{{ onOlderFirst }}"></paper-item>
            <paper-item label="Newer first" hidden?="{{ settings.newerFirst }}" on-tap="{{ onNewerFirst }}"></paper-item>
            <paper-item label="Unread only" hidden?="{{ settings.unreadOnly }}" on-tap="{{ onUnreadOnly }}"></paper-item>
            <paper-item label="Read and unread" hidden?="{{ !settings.unreadOnly }}" on-tap="{{ onReadAndUnread }}"></paper-item>
            <paper-item label="Mark all as read" on-tap="{{ onMarkAllAsRead }}"></paper-item>
        </template>

        <template id="article-navigation-menu-items">
            {% if ne .base.readeefConfig.SearchIndex.BlevePath `` %}
                <paper-icon-button icon="search" class="title-icon" on-tap="{{ onSearchToggle }}" hidden?="{{ article || display != 'feed' }}"></paper-icon-button>
            {% end %}
            <paper-icon-button icon="{{ articleRead ? 'check-circle': 'check-circle-outline-blank' }}" class="title-icon" on-tap="{{ onArticleReadToggle }}" hidden?="{{ !article || display != 'feed' }}"></paper-icon-button>
            <paper-icon-button icon="hardware:keyboard-arrow-left" class="title-icon" style="opacity: {{ article && !article.First ? 100 : 0 }}" on-tap="{{ onArticlePrevious }}" hidden?="{{ !article || display != 'feed' }}"></paper-icon-button>
            <paper-icon-button icon="hardware:keyboard-arrow-right" class="title-icon" style="opacity: {{ article && !article.Last ? 100 : 0 }}" on-tap="{{ onArticleNext }}" hidden?="{{ !article || display != 'feed' }}"></paper-icon-button>
        </template>

        <template id="search-controls">
            <paper-icon-button icon="close" class="title-icon" on-tap="{{ onSearchToggle }}" hidden?="{{ article || display != 'feed' }}"></paper-icon-button>
            <div flex class="search-container">
                <paper-input label="Search" class="search-input {{ header ? 'primary-transparent-color' : 'primary-dark-transparent-inverted-color' }}" tabindex="1" on-keyup="{{ onSearchKeyUp }}" on-keypress="{{ onSearchKeyPress }}" value=""></paper-input>
            </div>
        </template>

        <core-drawer-panel id="drawer-panel" class="{{ {wide: wide} | tokenList }}" responsiveWidth="768px">
            <core-header-panel drawer>
                <core-toolbar id="navheader" class="primary-color">
                    <content select=".drawer-title"></content>
                </core-toolbar>
                <core-menu id="drawer-menu" selected="{{ feed.Id }}" notap>
                    <content select=".drawer-content"></content>
                </core-menu>
            </core-header-panel>

            <core-header-panel main mode="{{ {'cover': wide } | tokenList }}" shadow id="content-panel">
                <core-toolbar id="mainheader" class="primary-color">
                    <paper-icon-button id="navicon" icon="menu" hidden?="{{ display != 'feed' || article }}"></paper-icon-button>
                    <paper-icon-button id="back-menu" icon="arrow-back" hidden?="{{ display == 'feed' && !article }}" on-tap="{{ onArticleBack }}"></paper-icon-button>
                    <template if="{{ !searchVisible }}">
                        <div flex hidden?="{{ wide }}" class="title">{{ display == 'feed' ? feed.Title : 'Settings' }}</div>
                        <template bind ref="article-navigation-menu-items" if="{{ !searchVisible }}"></template>
                        <paper-icon-button id="refresh-menu" icon="refresh" class="{{ {'primary-dark-color': updateAvailable} | tokenList }}" on-tap="{{ onRefresh }}" hidden?="{{ display != 'feed' || article }}"></paper-icon-button>

                        <paper-menu-button icon="more-vert" halign="right" hidden?="{{ display != 'feed' || article }}">
                            <template bind ref="article-list-menu-items"></template>
                        </paper-menu-button>
                    </template>
                    <template if="{{ searchVisible && !wide }}" ref="search-controls" bind="{{ true as header }}"></template>

                    <paper-fab class="refresh-button bottom {{ {'primary-dark-color': updateAvailable} | tokenList }}" icon="refresh" hidden?="{{ display != 'feed' || !wide }}" on-tap="{{ onRefresh }}"></paper-fab>
                </core-toolbar>
                <div class="content">
                    <div class="content-label primary-dark-transparent-inverted-color" hidden?="{{ !wide }}" layout horizontal>
                        <paper-icon-button id="back-title" icon="arrow-back" class="title-icon" style="opacity: {{ display != 'feed' || article ? 100 : 0 }}" on-tap="{{ onArticleBack }}"></paper-icon-button>
                        <template if="{{ !searchVisible }}">
                            <div flex layout vertical>
                                    <template if="{{ display == 'feed' && feed.SiteLink }}">
                                        <a href="{{ feed.SiteLink }}" target="feed-homepage">
                                            {{ feed.Title }}
                                        </a>
                                    </template>
                                    <template if="{{ display != 'feed' || !feed.SiteLink }}">
                                        {{ display == 'feed' ? feed.Title : 'Settings' }}
                                    </template>
                                    <template if="{{ display == 'feed' && feed.Description }}">
                                        <br><small>{{ feed.Description }}</small>
                                    </template>
                            </div>
                        </template>
                        <template if="{{ searchVisible && wide }}" ref="search-controls" bind="{{ false as header }}"></template>

                        <template bind ref="article-navigation-menu-items" if="{{ !searchVisible }}"></template>
                        <paper-menu-button icon="more-vert" halign="right" hidden?="{{ display != 'feed' || article }}" class="title-icon">
                            <template bind ref="article-list-menu-items"></template>
                        </paper-menu-button>
                    </div>
                    <content select=".main-content"></content>
                </div>
            </core-header-panel>

        </core-drawer-panel>
    </template>

    <script src="/js/rf-scaffolding.js"></script>
</polymer-element>
{% end %}
