{% define "content" %}
<link rel="import" href="/dist/polymer/polymer.html">

<dom-module id="rf-settings-admin">
    <template>
        <h1> admin </h1>
    </template>
    <script>
        "use strict";
        Polymer({
            is: "rf-settings-admin"
        })
    </script>
</dom-module>
{% end %}
