{% define "content" %}
<link rel="import" href="{% url "/component/rf-share-service" .base.r %}">

<rf-share-service name="evernote" description="{% __ "Evernote" .base.lang %}" category="{% __ "Read-it-later" .base.lang %}" link="https://www.evernote.com"></rf-share-service>
<rf-share-service name="instapaper" description="{% __ "Instapaper" .base.lang %}" category="{% __ "Read-it-later" .base.lang %}" link="http://www.instapaper.com"></rf-share-service>
<rf-share-service name="readability" description="{% __ "Readability" .base.lang %}" category="{% __ "Read-it-later" .base.lang %}" link="https://www.readability.com"></rf-share-service>
<rf-share-service name="pocket" description="{% __ "Pocket" .base.lang %}" category="{% __ "Read-it-later" .base.lang %}" link="https://getpocket.com"></rf-share-service>

<rf-share-service name="googlep" description="{% __ "Google+" .base.lang %}" category="{% __ "Social network" .base.lang %}" link="https://plus.google.com"></rf-share-service>
<rf-share-service name="facebook" description="{% __ "Facebook" .base.lang %}" category="{% __ "Social network" .base.lang %}" link="http://www.facebook.com"></rf-share-service>
<rf-share-service name="twitter" description="{% __ "Twitter" .base.lang %}" category="{% __ "Social network" .base.lang %}" link="https://twitter.com"></rf-share-service>
<rf-share-service name="pinterest" description="{% __ "Pinterest" .base.lang %}" category="{% __ "Social network" .base.lang %}" link="http://pinterest.com"></rf-share-service>

<rf-share-service name="tumblr" description="{% __ "Tumblr" .base.lang %}" category="{% __ "Blogging" .base.lang %}" link="http://www.tumblr.com"></rf-share-service>
<rf-share-service name="flipboard" description="{% __ "Flipboard" .base.lang %}" category="{% __ "Blogging" .base.lang %}" link="https://www.flipboard.com"></rf-share-service>

<rf-share-service name="email" description="{% __ "Email" .base.lang %}" category="{% __ "Email" .base.lang %}"></rf-share-service>
<rf-share-service name="gmail" description="{% __ "Gmail" .base.lang %}" category="{% __ "Email" .base.lang %}" link="https://mail.google.com"></rf-share-service>

<script>
RfShareServices.getAll().forEach(function(service) {
    switch (service.name) {
        case "evernote":
            service.urlComposer = function(article) {
                var link = encodeURIComponent(article.Link), title = encodeURIComponent(article.Title);
                return "https://www.evernote.com/clip.action?url=" + link + "&title=" + title;
            };
            break;
        case "instapaper":
            service.urlComposer = function(article) {
                var link = encodeURIComponent(article.Link), title = encodeURIComponent(article.Title);
                return "http://www.instapaper.com/hello2?url=" + link + "&title=" + title
            }
            break;
        case "readability":
            service.urlComposer = function(article) {
                var link = encodeURIComponent(article.Link);
                return "https://www.readability.com/save?url=" + link;
            }
            break;
        case "pocket":
            service.urlComposer = function(article) {
                var link = encodeURIComponent(article.Link), title = encodeURIComponent(article.Title);
                return "https://getpocket.com/save?url=" + link + "&title=" + title;
            }
            break;
        case "googlep":
            service.urlComposer = function(article) {
                var link = encodeURIComponent(article.Link);
                return "https://plus.google.com/share?url=" + link;
            }
            break;
        case "facebook":
            service.urlComposer = function(article) {
                var link = encodeURIComponent(article.Link), title = encodeURIComponent(article.Title);
                return "http://www.facebook.com/sharer.php?u=" + link + "&t=" + title; 
            }
            break;
        case "twitter":
            service.urlComposer = function(article) {
                var link = encodeURIComponent(article.Link), title = encodeURIComponent(article.Title);
                return "https://twitter.com/intent/tweet?url=" + link + "&text=" + title;
            }
            break;
        case "pinterest":
            service.urlComposer = function(article) {
                var link = encodeURIComponent(article.Link);
                return "http://pinterest.com/pin/find/?url=" + link;
            }
            break;
        case "tumblr":
            service.urlComposer = function(article) {
                var link = encodeURIComponent(article.Link), title = encodeURIComponent(article.Title);
                return "http://www.tumblr.com/share?v=3&u=" + link + "&t=" + title;
            }
            break;
        case "flipboard":
            service.urlComposer = function(article) {
                var link = encodeURIComponent(article.Link), title = encodeURIComponent(article.Title);
                return "https://share.flipboard.com/bookmarklet/popout?v=2&url=" + link + "&title=" + title;
            }
            break;
        case "email":
            service.urlComposer = function(article) {
                var link = encodeURIComponent(article.Link), title = encodeURIComponent(article.Title);
                return "mailto:?subject=" + title + "&body=" + link;
            }
            break;
        case "gmail":
            service.urlComposer = function(article) {
                var link = encodeURIComponent(article.Link), title = encodeURIComponent(article.Title);
                return "https://mail.google.com/mail/?view=cm&su=" + title + "&body=" + link;
            }
            break;
    }
});
</script>
{% end %}
