{% define "content" %}
<link rel="import" href="/dist/polymer/polymer.html">
<link rel="import" href="/dist/core-toolbar/core-toolbar.html">
<link rel="import" href="/dist/core-menu/core-menu.html">
<link rel="import" href="/dist/core-header-panel/core-header-panel.html">
<link rel="import" href="/dist/core-drawer-panel/core-drawer-panel.html">
<link rel="import" href="/dist/core-icons/core-icons.html">
<link rel="import" href="/dist/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/dist/paper-menu-button/paper-menu-button.html">

<polymer-element name="rf-scaffolding" attributes="wide user feed article">
    <template>
        <style>
            core-toolbar {
                background-color: #558AE0;
                color: white;
            }
            core-drawer-panel:not(.wide) core-toolbar {
                height: 48px;
                font-size: 1.2em;
            }
            core-drawer-panel:not(.wide) core-toolbar /deep/ .toolbar-tools {
                height: 48px;
            }

            core-drawer-panel.wide #mainheader #navicon,
            core-drawer-panel.wide #mainheader #back-menu,
            core-drawer-panel.wide #mainheader #refresh-menu {
              display: none;
            }

            .refreshButton {
                position: absolute;
                bottom: -28px;
                right: 24px;
                z-index: 1;
                background-color: #fcfcfc;
                color: #666464;
            }

            .content {
                background-color: #f8f8f8;
                overflow: hidden;
            }

            [drawer] /deep/ #mainContainer {
                background-color: #fff;
            }

            .wide .content {
                margin: 10px 120px 60px 5px;
                box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
                border-radius: 2px;
            }

            .content-label {
                line-height: 60px;
                padding-left: 24px;
                padding-bottom: 12px;
                background-color: #f8f8f8;
                letter-spacing: 0.05em;
                margin: 0;
                font-size: 24px;
                font-weight: 400;
                color: #5265a2;
            }

            .content-label small {
                display: block;
                margin-top: -10px;
                margin-left: 40px;
                line-height: 14px;
                font-size: 12px;
            }

            .content-label #back-title {
                float: left;
                line-height: 24px;
                margin-top: 10px;
            }

        </style>
        <core-drawer-panel id="drawer-panel" class="{{ {wide: wide} | tokenList }}" responsiveWidth="768px">
            <core-header-panel drawer>
                <core-toolbar id="navheader">
                    <content select=".drawer-title"></content>
                </core-toolbar>
                <core-menu id="drawer-menu" selected="{{ feed.Id }}" notap>
                    <content select=".drawer-content"></content>
                </core-menu>
            </core-header-panel>

            <core-header-panel main mode="{{ {'cover': wide } | tokenList }}" shadow id="content-panel">
                <core-toolbar id="mainheader">
                    <paper-icon-button id="navicon" icon="menu" hidden?="{{ article }}"></paper-icon-button>
                    <paper-icon-button id="back-menu" icon="arrow-back" hidden?="{{ !article }}" on-tap="{{ onArticleBack }}"></paper-icon-button>
                    <div flex hidden?="{{ wide }}">{{ feed.Title }}</div>
                    <paper-icon-button id="refresh-menu" icon="refresh" on-tap="{{ onRefresh }}"></paper-icon-button>
                    <paper-fab class="refreshButton bottom" icon="refresh" hidden?="{{ !wide }}" on-tap="{{ onRefresh }}"></paper-fab>
                </core-toolbar>
                <div class="content">
                    <h1 class="content-label" hidden?="{{ !wide }}">
                        <paper-icon-button id="back-title" icon="arrow-back" style="opacity: {{ article ? 100 : 0 }}" on-tap="{{ onArticleBack }}"></paper-icon-button>
                        <template if="{{ feed.SiteLink }}">
                            <a href="{{ feed.SiteLink }}" target="feed-homepage">
                                {{ feed.Title }}
                            </a>
                        </template>
                        <template if="{{ !feed.SiteLink }}">
                            {{ feed.Title }}
                        </template>
                        <template if="{{ feed.Description }}">
                            <br><small>{{ feed.Description }}</small>
                        </template>
                    </h1>
                    <content select=".main-content"></content>
                </div>
            </core-header-panel>

        </core-drawer-panel>
    </template>
    <script>
(function() {
    "use strict";

    Polymer('rf-scaffolding', {
        ready: function() {
            var drawerPanel = this.$['drawer-panel'];

            this.$.navicon.addEventListener('click', function() {
                drawerPanel.togglePanel();
            });

            this.$['drawer-menu'].addEventListener('tap', function() {
                drawerPanel.togglePanel();
            });
        },

        onRefresh: function() {
            this.fire("rf-feed-refresh");
        },

        onArticleBack: function() {
            this.article = null;
        }
    });
})();
    </script>
</polymer-element>
{% end %}
