{% define "content" %}
<link rel="import" href="/dist/excess-router/excess-router.html">
<link rel="import" href="/dist/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="/dist/iron-pages/iron-pages.html">
<link rel="import" href="/dist/lazy-pages/lazy-pages.html">
<link rel="import" href="/dist/paper-button/paper-button.html">
<link rel="import" href="/dist/paper-checkbox/paper-checkbox.html">
<link rel="import" href="/dist/paper-input/paper-input.html">
<link rel="import" href="/dist/paper-material/paper-material.html">
<link rel="import" href="/dist/paper-spinner/paper-spinner.html">
<link rel="import" href="/dist/paper-toast/paper-toast.html">
<link rel="import" href="/dist/polymer/polymer.html">

<link rel="import" href="{% url "/component/rf-api" .base.r %}">
<link rel="import" href="{% url "/component/rf-keyboard-shortcuts" .base.r %}">

<dom-module id="rf-settings-add-feed">
    <template>
		<style>
lazy-pages > * {
	position: relative;
}
.card {
    @apply(--card-style);
    @apply(--shadow-elevation-4dp);
    padding: 16px;
    margin: 16px 8px 8px;
    max-width: 50em;
}
neon-animated-pages, lazy-pages {
    position: static;
}
a {
	color: inherit;
    position: relative;
    text-decoration: none;
}

a[target] {
    text-decoration: underline;
}
a paper-material {
    padding: 0.7em 0.57em;
    text-transform: uppercase;
}

ul {
    padding: 0;
}

li {
    padding: 8px;
    list-style: none;
}
li paper-checkbox {
    margin-right: 16px;
}
		</style>
		<style include="iron-flex"></style>
		<style include="iron-flex-alignment"></style>
		<excess-route route="/web/settings/discovery/:discoverStage+" route-alias="settings-discovery" discover-stage="{{ discoverStage }}"></excess-route>

        <div class="card" class="layout vertical start">
            <div class="layout vertical">
				<lazy-pages attr-for-selected="route" selected="[[ discoverStage ]]" rescue-selection="search">
					<section route="search">
						<p>
							{% __ "Enter keywords to use when searching for public feeds. A website address that contains one more more feeds may also be used. Finally, feed addresses may be entered directly." .base.lang %}
						</p>

						<paper-input id="feed-url" label="{% __ "URL or keywords" .base.lang %}" on-keypress="onUrlKeypress"></paper-input>

						<p>
							{% __ "Alternatively, you may provide an OPML file that contains a list of feeds." .base.lang %}
						</p>

						<paper-input type="file" id="opml" name="opml" accept=".opml" tabindex="2"></paper-input>

						<div class="layout horizontal end-justified">
							<paper-spinner class="loading-dependant" hidden$="[[ !loading ]]"></paper-spinner>
							<paper-button id="find-feeds" on-tap="onFindFeeds" autofocus hidden$="[[ loading ]]">{% __ "Find" .base.lang %}</paper-button>
						</div>
					</section>

					<section route="not-found">
						<p>{% __ "No feeds found" .base.lang %}</p>

						<div class="layout horizontal end-justified">
							<a href="[[ urlFor('@settings-discovery', 'discoverStage', 'search') ]]" style="position: relative;">
								<paper-material elevation="0">{% __ "Back" .base.lang %}</paper-material>
								<paper-ripple></paper-ripple>
							</a>
						</div>
					</section>

					<section route="select">
						<div hidden$="[[ _computeHideDiscoveredFeeds(discoveredFeeds) ]]">
							<h4>{% __ "No feeds found" .base.lang %}</h4>
						</div>
						<div hidden$="[[ _computeHideDiscoveredFeeds(discoveredFeeds, 1) ]]">
							<p>{% __ "Found the following feeds:" .base.lang %}</p>
							<ul>
							<template is="dom-repeat" items="{{ discoveredFeeds }}">
								<li class="layout horizontal center">
									<paper-checkbox checked="{{ item.selected }}"></paper-checkbox>
									<a href="[[ item.Link ]]" target="_blank">[[ item.Title ]]<br><small>[[ item.Description ]]</small></a>
								</li>
							</template>
							</ul>
						</div>

						<div class="layout horizontal end-justified">
							<a href="[[ urlFor('@settings-discovery', 'discoverStage', 'search') ]]">
								<paper-material elevation="0">{% __ "Back" .base.lang %}</paper-material>
								<paper-ripple></paper-ripple>
							</a>
							<paper-spinner class="loading-dependant" hidden$="[[ !loading ]]"></paper-spinner>
							<paper-button on-tap="onAddFeeds" autofocus hidden$="[[ _computeHideAddFeed(discoveredFeeds, loading) ]]">{% __ "Add" .base.lang %}</paper-button>
						</div>
					</section>

					<section route="select/none">
						<p>{% __ "No feeds were selected" .base.lang %}</p>
						<div class="layout horizontal end-justified">
							<a href="[[ urlFor('@settings-discovery', 'discoverStage', 'select') ]]">
								<paper-material elevation="0">{% __ "Back" .base.lang %}</paper-material>
								<paper-ripple></paper-ripple>
							</a>
						</div>
					</section>

					<section route="select/error">
						<p>{% __ "Error adding selected feeds: " .base.lang %}<br>
							<template is="dom-repeat" items="[[ addFeedErrors ]]">
								<span>[[ _computeFeedErrorEntry(item) ]]</span>
								<br>
							</template>
						</p>
						<div class="layout horizontal end-justified">
							<a href="[[ urlFor('@settings-discovery', 'discoverStage', 'select') ]]">
								<span>{% __ "Back" .base.lang %}</span>
								<paper-ripple></paper-ripple>
							</a>
						</div>
					</section>
				</lazy-pages>
            </div>

        </div>

        <paper-toast id="add-feed-success" text="{% __ "Feed was added successfully" .base.lang %}"></paper-toast>

        <rf-api id="discover-feeds" method="discover-feeds" on-rf-api-message="onDiscoverFeedsMessage" on-rf-api-error="onDiscoverFeedsError" handles-errors></rf-api>
        <rf-api id="parse-opml" method="parse-opml" on-rf-api-message="onDiscoverFeedsMessage" on-rf-api-error="onDiscoverFeedsError" handles-errors></rf-api>
        <rf-api id="add-feeds" method="add-feeds" on-rf-api-message="onAddFeedMessage" on-rf-api-error="onAddFeedError" handles-errors></rf-api>

        <rf-keyboard-shortcut route-name="settings-add-feed-discover-select" key-code="13" on-press="onAddFeeds"></rf-keyboard-shortcut>
    </template>

    <script>
        "use strict";
        Polymer({
            is: "rf-settings-add-feed",
            behaviors: [
				RouteBehavior,
            ],
            properties: {
                user: Object,
				discoverStage: {
					type: String,
					observer: '_discoverStageChanged'
				},
                discoveredFeeds: {
                    type: Array,
                    value: function() {
                        return null;
                    },
                },
                addFeedErrors: {
                    type: Array,
                    value: function() {
                        return [];
                    },
                },
                loading: {
                    type: Boolean,
                    value: false,
                    observer: '_loadingChanged',
                }
            },

			attached: function() {
				this.namedRoute('settings').addEventListener('route-params-changed', function(event) {
					this.debounce('default-discovery-route', this._transitionToDefault.bind(this));
				}.bind(this));
				this.debounce('default-discovery-route', this._transitionToDefault.bind(this));
			},

            onRouteChange: function(event, detail) {
                this.loading = false;
            },

            onUrlKeypress: function() {
                var code = event.keyCode || event.charCode, key = event.keyIdentifier;

                if (key == 'Enter' || code == 13) {
                    this.onFindFeeds();
                }
            },

            onFindFeeds: function() {
                if (this.$.opml.$.input.files.length) {
                    var file = this.$.opml.$.input.files[0], fileReader = new FileReader();

                    fileReader.onload = function(event) {
                        var contents = event.target.result;

                        this.$['parse-opml'].send({opml: contents});
                    }.bind(this);

                    fileReader.readAsText(file);
                } else {
                    var url = this.$['feed-url'].value;
                    if (!url) {
                        this.$['feed-url'].required = true;
                        this.$['feed-url'].invalid = true;
                        return;
                    }

                    if (window.google && google.feeds && !/https?:\/\//.test(url)) {
                        google.feeds.findFeeds(url, function(response) {
                            if (response.status.code == 200) {
                                if (response.entries.length) {
                                    var feeds = [], urls = {};

                                    for (var i = 0, e; e = response.entries[i]; ++i) {
                                        if (!urls[e.url]) {
                                            feeds.push({
                                                Link: e.url,
                                                Title: this._stripTags(e.title),
                                                Description: this._stripTags(e.contentSnippet)
                                            });
                                            urls[e.url] = true;
                                        }
                                    }

                                    feeds[0].selected = true;
                                    this.onDiscoverFeedsMessage(null, {success: true, arguments: {Feeds: feeds, SkipSelection: true}});
                                } else {
                                    this.onDiscoverFeedsError();
                                }
                            } else {
                                this.onDiscoverFeedsError();
                            }
                        }.bind(this));
                    } else {
                        this.$['discover-feeds'].send({link: url});
                    }
                }
                this.loading = true;
            },

            onDiscoverFeedsMessage: function(event, data) {
                if (!data.arguments.SkipSelection) {
                    (data.arguments.Feeds || []).forEach(function(f) {
                        f.selected = true;
                    });
                }
                this.discoveredFeeds = data.arguments.Feeds;

                if (!this.discoveredFeeds || !this.discoveredFeeds.length) {
					Excess.RouteManager.transitionTo('@settings-discovery', {discoverStage: 'not-found'});
                } else {
					Excess.RouteManager.transitionTo('@settings-discovery', {discoverStage: 'select'});
                }
            },

            onDiscoverFeedsError: function(event, data) {
                this.$['feed-url'].errorMessage = this.$['feed-url'].getAttribute("data-" + data.arguments.ErrorType);
                this.$['feed-url'].invalid = true;
                this.loading = false;
            },

            onAddFeeds: function() {
                var links = [];
                for (var i = 0, f; f = this.discoveredFeeds[i]; ++i) {
                    if (f.selected) {
                        links.push(f.Link);
                    }
                }

                if (!links.length) {
					Excess.RouteManager.transitionTo('@settings-discovery', {discoverStage: ['select', 'none']});
                    return;
                }

                this.$['add-feeds'].send({links: links});
                this.loading = true;
            },

            onAddFeedMessage: function(event, data) {
                this.fire('iron-signal', {name: 'rf-feeds-added'});
                this.$['feed-url'].value = "";
                this.$['feed-url'].invalid = false;
                this.discoveredFeeds = null;

                this.$['add-feed-success'].show();
				Excess.RouteManager.transitionTo('@settings-discovery', {discoverStage: 'search'});
            },

            onAddFeedError: function(event, data) {
                this.addFeedErrors = data.arguments.Errors;

                if (data.arguments.Success) {
                    this.fire('iron-signal', {name: 'rf-feeds-added'});
                }
				Excess.RouteManager.transitionTo('@settings-discovery', {discoverStage: ['select', 'error']});
            },

			_discoverStageChanged: function() {
				this.loading = false;
			},

            _loadingChanged: function(loading, old) {
                var dependants = Polymer.dom(this.root).querySelectorAll('.loading-dependant');
                dependants.forEach(function(d) {
                    if (loading) {
                        d.active = true;
                    } else {
                        d.active = false;
                    }
                });
            },

            _computeHideFindFeeds(discoveredFeeds, loading) {
                return !!discoveredFeeds || loading
            },

            _computeHideDiscoveredFeeds: function(discovered, invert) {
                return invert ? !discovered || discovered.length == 0 : discovered && discovered.length > 0;
            },

            _computeHideAddFeed: function(discovered, loading) {
                return loading || !discovered || discovered.length == 0;
            },

            _computeFeedErrorEntry: function(item) {
                return (item.Title || item.Link) + ": " + item.Error;
            },

            _stripTags: function(html) {
                var div = document.createElement("div");
                div.innerHTML = html;

                return div.textContent || "";
            },

			_transitionToDefault() {
				var route = this.namedRoute('settings');
				if (route.routeParams && route.routeParams.subsettings == 'discovery') {
					route = this.namedRoute('settings-discovery');
					if (!route || !route.discoverStage) {
						Excess.RouteManager.transitionTo('@settings-discovery', {discoverStage: 'search'});
					}
				}
			},

        })
    </script>
</dom-module>
{% end %}
