{% define "content" %}
<link rel="import" href="/dist/polymer/polymer.html">

<link rel="import" href="/component/rf-api">

<polymer-element name="rf-settings" attributes="wide user settings">
    <template>
        <style>
        </style>
        
    </template>
    <script>
(function() {
    "use strict";

    Polymer('rf-settings', {
    });
})();
    </script>
</polymer-element>
{% end %}
