{% define "content" %}
<link rel="import" href="/dist/polymer/polymer.html">
<link rel="import" href="/dist/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/dist/paper-ripple/paper-ripple.html">
<link rel="import" href="/dist/pushstate-anchor/pushstate-anchor.html">
<link rel="import" href="/dist/more-routing/more-route-template-helpers.html">
<link rel="import" href="/dist/more-routing/more-routing.html">

<link rel="import" href="/component/rf-app-scaffold">
<link rel="import" href="/component/rf-lazy-loader">

<dom-module id="rf-settings-base">
    <style>
.drawer-menu a {
    display: block;
    color: var(--text-primary-color);
    text-decoration: none;
    min-height: 20px;
    font-size: 16px;

    @apply(--layout-horizontal);
    @apply(--layout-center);
}

.drawer-menu paper-icon-button.item {
    padding: 8px;
    margin-left: 4px;
}

.main-content /deep/ .card {
    @apply(--card-style);
    padding: 16px;
    margin: 16px 0 8px;
    max-width: 50em;
}
    </style>
    <template>
        <rf-app-scaffold>
            <div class="drawer-title">Settings</div>
            <div class="drawer-menu">
                <a is="pushstate-anchor" href="[[ urlFor('settings-general') ]]" class="item">
                    <span>General</span>
                    <paper-ripple></paper-ripple>
                </a>
                <a is="pushstate-anchor" href="[[ urlFor('settings-add-feed') ]]" class="item">
                    <span>Add Feed</span>
                    <paper-ripple></paper-ripple>
                </a>
                <a is="pushstate-anchor" href="[[ urlFor('settings-manage-feeds') ]]" class="item">
                    <span>Manage Feeds</span>
                    <paper-ripple></paper-ripple>
                </a>
                <a is="pushstate-anchor" href="[[ urlFor('settings-share-services') ]]" class="item">
                    <span>Share Services</span>
                    <paper-ripple></paper-ripple>
                </a>
                <a is="pushstate-anchor" href="[[ urlFor('settings-admin') ]]" class="item" hidden$="{{ !user.Admin }}">
                    <span>Administration</span>
                    <paper-ripple></paper-ripple>
                </a>
                <hr>
                <a is="pushstate-anchor" href="[[ urlFor('feed-base') ]]" class="item">
                    <span>Back to feeds</span>
                    <paper-ripple></paper-ripple>
                </a>
                <a is="pushstate-anchor" href="[[ urlFor('logout') ]]" class="item">
                    <span>Logout</span>
                    <paper-ripple></paper-ripple>
                </a>
            </div>
            <div class="main-title">
                <template>
                    <paper-icon-button icon="menu" paper-drawer-toggle></paper-icon-button>
                    <span hidden$="{{ !_computeSettingsIsActive(activeSettings, 'settings-general') }}">General</span>
                    <span hidden$="{{ !_computeSettingsIsActive(activeSettings, 'settings-add-feed') }}">Add Feed</span>
                    <span hidden$="{{ !_computeSettingsIsActive(activeSettings, 'settings-manage-feeds') }}">Manage Feeds</span>
                    <span hidden$="{{ !_computeSettingsIsActive(activeSettings, 'settings-share-services') }}">Share Services</span>
                    <span hidden$="{{ !_computeSettingsIsActive(activeSettings, 'settings-admin') }}">Administration</span>
                </template>
            </div>
            <div class="main-content">
                <more-route-selector on-more-route-change="onRouteChange">
                    <iron-pages>
                        <rf-lazy-loader route="settings-general" import="/component/rf-settings-general" property-payload="[[ _computeSettingsUserPayload(user) ]]"></rf-lazy-loader>
                        <rf-lazy-loader route="settings-add-feed" import="/component/rf-settings-add-feed" property-payload="[[ _computeSettingsUserPayload(user) ]]"></rf-lazy-loader>
                        <rf-lazy-loader route="settings-manage-feeds" import="/component/rf-settings-manage-feeds" property-payload="[[ _computeSettingsUserPayload(user) ]]"></rf-lazy-loader>
                        <rf-lazy-loader route="settings-share-services" import="/component/rf-settings-share-services" property-payload="[[ _computeSettingsUserPayload(user) ]]"></rf-lazy-loader>
                        <rf-lazy-loader route="settings-admin" import="/component/rf-settings-admin" hidden$="{{ !user.Admin }}" property-payload="[[ _computeSettingsUserPayload(user) ]]"></rf-lazy-loader>
                    </iron-pages>
                </more-route-selector>
            </div>
        </rf-app-scaffold>
    </template>
    <script>
        "use strict";
        Polymer({
            is: "rf-settings-base",
            behaviors: [
                UserBehavior,
                MoreRouting.TemplateHelpers
            ],
            properties: {
                user: Object,
                activeSettings: {
                    type: String,
                    notify: true
                }
            },

            onRouteChange: function(event, detail) {
                if (MoreRouting.isCurrentUrl('settings-general')) {
                    this.activeSettings = 'settings-general';
                } else if (MoreRouting.isCurrentUrl('settings-add-feed')) {
                    this.activeSettings = 'settings-add-feed';
                } else if (MoreRouting.isCurrentUrl('settings-manage-feeds')) {
                    this.activeSettings = 'settings-manage-feeds';
                } else {
                    this.activeSettings = '';
                }
            },

            _computeSettingsIsActive(active, current) {
                return active == current;
            },

            _computeSettingsUserPayload: function(user) {
                return {user: user};
            },

        })
    </script>
</dom-module>
{% end %}
