{% define "content" %}
<link rel="import" href="/dist/excess-router/excess-router.html">
<link rel="import" href="/dist/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="/dist/lazy-pages/lazy-pages.html">
<link rel="import" href="/dist/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/dist/paper-ripple/paper-ripple.html">
<link rel="import" href="/dist/polymer/polymer.html">

<link rel="import" href="{% url "/component/rf-app-scaffold" .base.r %}">
<link rel="import" href="{% url "/component/rf-settings-general" .base.r %}">
<link rel="import" href="{% url "/component/rf-settings-add-feed" .base.r %}">
<link rel="import" href="{% url "/component/rf-settings-manage-feeds" .base.r %}">
<link rel="import" href="{% url "/component/rf-settings-share-services" .base.r %}">
<link rel="import" href="{% url "/component/rf-settings-admin" .base.r %}">

<dom-module id="rf-settings-base">
    <template>
		<style>
neon-animated-pages, lazy-pages {
    position: static;
}
lazy-pages > * {
	position: relative;
}
.drawer-menu a {
    display: block;
    color: var(--text-primary-color);
    text-decoration: none;
    min-height: 20px;
    font-size: 16px;

    @apply(--layout-horizontal);
    @apply(--layout-center);
}

.drawer-menu paper-icon-button.item {
    padding: 8px;
    margin-left: 4px;
}

.main-title .title-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

		</style>
		<style include="iron-flex"></style>
		<style include="iron-flex-alignment"></style>
		<excess-route route="/web/settings/:subsettings/(.*)?" route-alias="settings" subsettings="{{ subsettings }}"></excess-route>

        <rf-app-scaffold>
            <div class="drawer-title">{% __ "Settings" .base.lang %}</div>
            <div class="drawer-menu">
                <a href="[[ urlFor('@settings', 'subsettings', 'general') ]]" class="item">
                    <span>{% __ "General" .base.lang %}</span>
                    <paper-ripple></paper-ripple>
                </a>
                <a href="[[ urlFor('@settings', 'subsettings', 'discovery') ]]" class="item">
                    <span>{% __ "Add Feed" .base.lang %}</span>
                    <paper-ripple></paper-ripple>
                </a>
                <a href="[[ urlFor('@settings', 'subsettings', 'management') ]]" class="item">
                    <span>{% __ "Manage Feeds" .base.lang %}</span>
                    <paper-ripple></paper-ripple>
                </a>
                <a href="[[ urlFor('@settings', 'subsettings', 'share-services') ]]" class="item">
                    <span>{% __ "Share Services" .base.lang %}</span>
                    <paper-ripple></paper-ripple>
                </a>
                <a href="[[ urlFor('@settings', 'subsettings', 'admin') ]]" class="item" hidden$="{{ !user.Admin }}">
                    <span>{% __ "Administration" .base.lang %}</span>
                    <paper-ripple></paper-ripple>
                </a>
                <hr>
                <a href="[[ urlFor('@feed-all') ]]" class="item">
                    <span>{% __ "Back to feeds" .base.lang %}</span>
                    <paper-ripple></paper-ripple>
                </a>
                <a href="[[ urlFor('@logout') ]]" class="item">
                    <span>{% __ "Logout" .base.lang %}</span>
                    <paper-ripple></paper-ripple>
                </a>
            </div>
            <div class="main-title layout horizontal center">
                <paper-icon-button icon="menu" paper-drawer-toggle></paper-icon-button>
                <span class="flex title-text" hidden$="{{ !_computeSettingsIsActive(subsettings, 'general') }}">{% __ "General" .base.lang %}</span>
                <span class="flex title-text" hidden$="{{ !_computeSettingsIsActive(subsettings, 'discovery') }}">{% __ "Add Feed" .base.lang %}</span>
                <span class="flex title-text" hidden$="{{ !_computeSettingsIsActive(subsettings, 'management') }}">{% __ "Manage Feeds" .base.lang %}</span>
                <span class="flex title-text" hidden$="{{ !_computeSettingsIsActive(subsettings, 'share-services') }}">{% __ "Share Services" .base.lang %}</span>
                <span class="flex title-text" hidden$="{{ !_computeSettingsIsActive(subsettings, 'admin') }}">{% __ "Administration" .base.lang %}</span>
            </div>
            <div class="main-content">
				<lazy-pages id="settings-pages" attr-for-selected="route" selected="[[ subsettings ]]">
					<template is="dom-if" route="general">
						<rf-settings-general user="[[ user ]]"></rf-settings-general>
					</template>

					<template is="dom-if" route="discovery">
						<rf-settings-add-feed user="[[ user ]]"></rf-settings-add-feed>
					</template>

					<template is="dom-if" route="management">
						<rf-settings-manage-feeds user="[[ user ]]"></rf-settings-manage-feeds>
					</template>

					<template is="dom-if" route="share-services">
						<rf-settings-share-services user="[[ user ]]"></rf-settings-share-services>
					</template>

					<template is="dom-if" route="admin">
						<rf-settings-admin user="[[ user ]]"></rf-settings-admin>
					</template>
				</lazy-pages>
				<br style="clear:both">
            </div>
        </rf-app-scaffold>
    </template>
    <script>
        "use strict";
        Polymer({
            is: "rf-settings-base",
            behaviors: [
                UserBehavior,
				RouteBehavior,
				ThemeBehavior,
            ],
            properties: {
                user: Object,
				subsettings: String,
            },

            _computeSettingsIsActive(subsettings, target) {
                return subsettings == target;
            },

        })
    </script>
</dom-module>
{% end %}
