{% define "content" %}
<link rel="import" href="/dist/polymer/polymer.html">

<dom-module id="rf-settings-feeds">
    <template>
        <div class="card" class="layout vertical start" style="max-width: 400px;">
        </div>
    </template>
    <script>
        "use strict";
        Polymer({
            is: "rf-settings-feeds"
        })
    </script>
</dom-module>
{% end %}
