{% define "content" %}
<link rel="import" href="/dist/polymer/polymer.html">
<link rel="import" href="/dist/core-style/core-style.html">

<script>
    CoreStyle.g.theme = "blue";
    CoreStyle.g.color = {
        blue: {
            primary: "#5677fc",
            primaryText: "#ffffff",
            primaryDark: "#2a36b1",
            primaryDarkText: "#e3e5f5"
        },
        lightBlue: {
            primary: "#03a9f4",
            primaryText: "#ffffff",
            primaryDark: "#01579b",
            primaryDarkText: "rgba(255, 255, 255, 0.87)"
        },
        indigo: {
            primary: "#3f51b5",
            primaryText: "#e6e8f6",
            primaryDark: "#1a237e",
            primaryDarkText: "#e1e2ee"
        },
        green: {
            primary: "#259b24",
            primaryText: "#ffffff",
            primaryDark: "#0d5302",
            primaryDarkText: "#dfe9de"
        },
        lightGreen: {
            primary: "#8bc34a",
            primaryText: "rgba(0, 0, 0, 0.87)",
            primaryDark: "#33691e",
            primaryDarkText: "#ffffff"
        },
        lime: {
            primary: "#cddc39",
            primaryText: "#1b1d07",
            primaryDark: "#827717",
            primaryDarkText: "#ffffff"
        },
        red: {
            primary: "#e51c23",
            primaryText: "#ffffff",
            primaryDark: "#b0120a",
            primaryDarkText: "rgba(255, 255, 255, 0.87)"
        },
        pink: {
            primary: "#e91e63",
            primaryText: "#ffffff",
            primaryDark: "#880e4f",
            primaryDarkText: "rgba(255, 255, 255, 0.87)"
        },
        purple: {
            primary: "#9c27b0",
            primaryText: "rgba(255, 255, 255, 0.87)",
            primaryDark: "#4a148c",
            primaryDarkText: "rgba(255, 255, 255, 0.87)"
        },
        amber: {
            primary: "#ffc107",
            primaryText: "rgba(0, 0, 0, 0.87)",
            primaryDark: "#ff6f00",
            primaryDarkText: "rgba(0, 0, 0, 0.87)"
        },
        deepOrange: {
            primary: "#ff5722",
            primaryText: "#ffffff",
            primaryDark: "#bf360c",
            primaryDarkText: "#ffffff"
        },
        grey: {
            primary: "#9e9e9e",
            primaryText: "rgba(0, 0, 0, 0.870588)",
            primaryDark: "#212121",
            primaryDarkText: "rgba(255, 255, 255, 0.87)"
        }
    };
</script>

<core-style id="rf-theme">
    .primary-color {
        background-color: {{ g.color[g.theme].primary }};
        color: {{ g.color[g.theme].primaryText }};
    }
    .primary-dark-color {
        background-color: {{ g.color[g.theme].primaryDark }};
        color: {{ g.color[g.theme].primaryDarkText }};
    }
    .primary-transparent-inverted-color {
        color: {{ g.color[g.theme].primary }};
        background-color: transparent;
    }
    .primary-dark-transparent-inverted-color {
        color: {{ g.color[g.theme].primaryDark }};
        background-color: transparent;
    }
</core-style>
{% end %}
