<h5 class="title" i18n>Manage Feeds</h5>
<p *ngIf="feeds.length == 0" u18n>
    No feeds have been added
</p>
<div *ngFor="let feed of feeds" class="feed">
    <img src="{{ favicon(feed[0].link) }}" class="favicon">
    <span class="name">{{ feed[0].title }}</span>
    <button md-icon-button (click)="showError(feed[0].updateError)" class="error" [class.visible]="feed[0].updateError"> 
        <md-icon>warning</md-icon>
    </button>
    <md-input-container class="tags">
        <input mdInput value="{{ feed[1].join(', ') }}" (change)="tagsChange($event, feed[0].id)" i18n-placeholder placeholder="tags">
    </md-input-container>
    <button md-icon-button (click)="deleteFeed($event, feed[0].id)" class="delete"> 
        <md-icon>delete</md-icon>
    </button>
</div>