<h5 class="title" i18n>Manage Feeds</h5>
<p *ngIf="feeds.length == 0" u18n>
    No feeds have been added
</p>
<div *ngFor="let feed of feeds" class="feed">
    <img src="{{ favicon(feed[0].link) }}" class="favicon">
    <a class="name" href="{{ feed[0].link}}">{{ feed[0].title }}</a>
    <button mat-icon-button (click)="showError(feed[0].updateError)" class="error" [class.visible]="feed[0].updateError"> 
        <mat-icon>warning</mat-icon>
    </button>
    <mat-input-container class="tags">
        <input matInput value="{{ feed[1].join(', ') }}" (change)="tagsChange($event, feed[0].id)" i18n-placeholder placeholder="tags">
    </mat-input-container>
    <button mat-icon-button (click)="deleteFeed($event, feed[0].id)" class="delete"> 
        <mat-icon>delete</mat-icon>
    </button>
</div>
<div class="footer">
    <a hidden download="feeds.opml" #downloader></a>
    <button mat-raised-button (click)="exportOPML()" i18n>Export OPML</button>
</div>