:host {
    height: 500px;
}

mat-card {
    display: flex;
    flex-direction: column;
    height: calc(100% - 12px);
    cursor: pointer;
}

mat-card-header {
    overflow: hidden;
}

[mat-card-image] {
    height: 240px;
    flex: 0 0 auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

mat-card-content {
    flex: 1 1 auto;
    overflow: hidden;
    text-overflow: ellipsis-lastline;
    font-size: 12px;
    line-height: 18px;
    max-height: 90px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

mat-card-actions {
    flex: 0 0 auto;
}

.read {
    font-weight: 100;
    color: #666;
}

.read .title {
    font-weight: 300;
}

.title {
    font-weight: bold;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1;
    height: 3.85em;
}

.info {
    margin: 0;
}

.feed {
    font-weight: 200;
    font-size: 10px;
    text-align: start;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.time {
    font-size: 11px;
    text-align: end;
}

button:hover, button:focus {
    outline: none;
    text-decoration: none;
}
