<mat-card [class.read]="item.read" (click)="openArticle(item)" data-id="{{ item.id }}">
    <mat-card-header class="row align-items-center">
        <mat-card-title class="col title">
            <button mat-card-avatar mat-icon-button (click)="$event.stopPropagation(); favor(item.id, !item.favorite)">
                <mat-icon>
                    {{ item.favorite ? "bookmark" : "bookmark_border" }}
                </mat-icon>
            </button>
            <span [innerHTML]="item.title"></span>
        </mat-card-title>
    </mat-card-header>
    <div mat-card-image [style.backgroundImage]="'url(' + item.thumbnail + ')'" *ngIf="item.thumbnail"></div>
    <mat-card-content>
        <div [innerHTML]="item.stripped"></div>
    </mat-card-content>
    <mat-card-actions>
        <div class="row align-items-center info" [class.read]="item.read">
            <div class="col-mat-auto feed" *ngIf="item.feed">
                {{ item.feed }}
            </div>
            <div class="col time">
                {{ item.time }}
            </div>
        </div>
    </mat-card-actions>
</mat-card>